.reviews
	.press
		%a.icon-4{:href => "http://www.bbc.com/news/business-26813527", :rel => "nofollow", :target => "_blank", :title => "BBC", :onclick => "_gaq.push(['_trackEvent', 'Homepage', 'Press', 'BBC']);"}
		%a.icon-7{:href => "http://www.pbs.org/newshour/bb/high-tech-entrepreneurs-flock-india/", :rel => "nofollow", :target => "_blank", :title => "PBS", :onclick => "_gaq.push(['_trackEvent', 'Homepage', 'Press', 'PBS']);"}
		%a.icon-5{:href => "http://economictimes.indiatimes.com/slideshows/biz-entrepreneurship/14-startups-to-look-forward-to-in-2014/zoom/slideshow/27778004.cms", :rel => "nofollow", :target => "_blank", :title => "The Economic Times", :onclick => "_gaq.push(['_trackEvent', 'Homepage', 'Press', 'The Economic Times']);"}
		%a.icon-6{:href => "http://gigaom.com/2013/08/19/meet-the-startup-thats-looking-to-be-the-zipcar-of-india-zoom/", :rel => "nofollow", :target => "_blank", :title => "GigaOm", :onclick => "_gaq.push(['_trackEvent', 'Homepage', 'Press', 'GigaOm']);"}
		%a.icon-3{:href => "http://timesofindia.indiatimes.com/business/india-business/Larry-Summers-fuels-Bangalore-car-hire-startup/articleshow/21735220.cms", :rel => "nofollow", :target => "_blank", :title => "The Times Of India", :onclick => "_gaq.push(['_trackEvent', 'Homepage', 'Press', 'TOI']);"}
		%a.icon-8{:href => "http://blogs.wsj.com/indiarealtime/2013/08/08/indian-drivers-attract-fed-hopeful-larry-summers", :rel => "nofollow", :target => "_blank", :title => "The Wall Street Journal", :onclick => "_gaq.push(['_trackEvent', 'Homepage', 'Press', 'WSJ']);"}
		%a.icon-2{:href => "http://www.thehindu.com/business/Industry/larry-summers-puts-money-in-zoomcar/article4778667.ece", :rel => "nofollow", :target => "_blank", :title => "The Hindu", :onclick => "_gaq.push(['_trackEvent', 'Homepage', 'Press', 'The Hindu']);"}
		%a.icon-1{:href => "http://www.moneycontrol.com/news/business/self-drive-your-way-to-gloryzoomcar-_901654.html", :rel => "nofollow", :target => "_blank", :title => "CNBC", :onclick => "_gaq.push(['_trackEvent', 'Homepage', 'Press', 'CNBC']);"}
		.fc
