.static
	%h1 Zoom's Team
	%table{:border => "0", :cellpadding => "20", :cellspacing => "20", :width => "100%"}
		%tr
			%td
				= image_tag("team/greg.jpg", alt: "Greg Moran")
			%td
				%h2 Greg Moran
				.size-16.zoom-b.f-b.p-b10 Co-Founder and CEO
				%p
					Greg has dedicated his entire career to sustainable development across the globe.  Over the past six years, Greg worked in various financial, operational, and strategic roles within the international energy and infrastructure sectors.  During this time, Greg was involved with projects on six continents, totaling over $12 billion.   His primary focal areas within the sector included solar power, wind power, and energy storage.  Greg previously held positions in investment banking, private equity, corporate business development, and energy policy formulation with Fieldstone Private Capital Group, Cerberus Capital, International Power, and the City of New York respectively.
				%p
					Prior to co-founding Zoom with David, Greg studied at USC's Marshall School of Business, where he was the Founder and President of the USC Energy Club, Southern California's largest such club.  Greg is also a graduate of the University of Pennsylvania, where he holds a degree in International Relations.
				%p
					While he's not busy Zooming, Greg enjoys playing piano and hitting the golf links.  He is also deeply passionate about competitive eating and he remains hopeful that someone will take him up on a dosa eating competition sometime soon.
				%p
					Greg can be reached at
					%a{:href => "mailto:greg@zoomcar.in"} greg@zoomcar.in
					/.
		%tr
			%td
				= image_tag("team/david.jpg", alt: "David Back")
			%td
				%h2 David Back
				.size-16.zoom-b.f-b.p-b10 Co-Founder and President
				%p
					David has worked as a consultant at McKinsey & Co and as an investment manager at Goldman Sachs. He served as the Director of Government Relations for The Hydrogen Expedition - an attempt to circumnavigate the globe in a hydrogen fuel cell powered boat to raise awareness about alternative fuels. David also founded Back Energy, an energy research firm and 	provides consulting to a number of start-ups.
				%p
					David received a full scholarship to attend Cambridge University's Judge School of Business.  Previously, he graduated magna cum laude from the University of Pennsylvania and cum laude from Harvard Law School where he had teaching fellowships on Globalization under Professor Nial Ferguson and under former US Treasury Secretary Larry Summers.
				%p
					David is also the editor of 365 Of The Wittiest, Most Cutting Insults From History, a page-a-day desk calendar sold to Barnes & Noble Publishing.  It features the insults from the likes of Winston Churchill, Mark Twain, Voltaire, and even Gandhi!
				%p
					David can be reached at
					%a{:href => "mailto:david@zoomcar.in"} david@zoomcar.in
					/.
		%tr
			%td
				= image_tag("team/bharath.jpg", alt: "Bharath Nathan")
			%td
				%h2 Bharath Nathan
				.size-16.zoom-b.f-b.p-b10 COO
				%p
					Bharath has dedicated his entire career toward improving the Indian car rental sector.  Over the course of 14 years in the segment, Bharath has managed self-drive, chauffeur driven and employee transportation focused organizations.  Bharath is an expert in designing innovative, customer friendly policies that promote strong brand retention.
				%p
					Prior to Zoom, Bharath worked at Orix Auto Infrastructure Bangalore as branch lead.  At Orix, he was responsible for the entire branch operations, business development and receivables function. In addition to Orix, Bharath has worked for various international brands such as Avis, Budget and Europcar, holding different positions and engaging various clients ranging from corporate IT companies to 5 star hotels.
				%p
					Bharath is a graduate in commerce from Bangalore University.
				%p
					If he's not Zooming, you can catch Bharath on a trekking adventure in South India.  On occasion, he still tosses around a javelin or a shotput, two longstanding passions dating back to his university days.
				%p
					Bharath can be reached at
					%a{:href => "mailto:bharath@zoomcar.in"} bharath@zoomcar.in
					/.
		%tr
			%td
				= image_tag("team/amit.jpg", alt: "Amit Kumar Sharma")
			%td
				%h2 Amit Kumar Sharma
				.size-16.zoom-b.f-b.p-b10 CTO
				%p
					An entrepreneur to the core with 5 years of hands on experience in developing and managing multiple web products. Conceiving ideas and building products is what excites Amit the most. An engineer to the core, Amit comes with a strong understanding of usability, scalability, performance and optimization.
				%p
					Prior to joining Zoom, Amit co-founded Khojguru.com and made it into one of the leading discount coupon service on internet and mobile phone in India. Build the whole platform grounds up and scaled it to 3 million average monthly visitors and 1 million registered users with limited budget. Ask him anything about web technologies and he would have something interesting to say about them.
				%p
					Amit is a graduate in electrical engineering from Indian Institute of Technology, Delhi. Whether or not neck deep in to html, css, javascript, nginx, ror, databases, etc, Amit can be found listening to music with his earphones on.
				%p
					Amit can be reached at
					%a{:href => "mailto:amit@zoomcar.in"} amit@zoomcar.in
					/.
