.static
	%h1 Eligibility Policy

	.row
		.col-md-4
			.t-c.border-c.solid.p-20.eligibility
				#el1.el-icon
				.m-b20
					Any person driving a Zoom vehicle must be a Zoom member.
		.col-md-4
			.t-c.border-c.solid.p-20.eligibility
				#el2.el-icon
				.m-b20
					Members must be #{CommonHelper::MIN_AGE} years of age or older.
		.col-md-4
			.t-c.border-c.solid.p-20.eligibility
				#el3.el-icon
				.m-b10
					Member must possess a valid Light Motor Vehicle (Non Transport) Indian license.
				.m-b10
					%i
						If not an Indian citizen, Member must have a valid international driver's license, issued in Member's home country.
	%br/
	.row
		.col-md-4
			.t-c.border-c.solid.p-20.eligibility
				#el5.el-icon
				.m-b20
					Members must have had no alcohol or drug related driving violations in the past seven years.
		.col-md-4
			.t-c.border-c.solid.p-20.eligibility
				#el6.el-icon
				.m-b20
					Payments are only accepted through credit card, debit card or net banking.
		.col-md-4
			.t-c.border-c.solid.p-20.eligibility
				#el7.el-icon
				.m-b20
					There is no minimum amount of time that an individual must hold a license before becoming a member or reserving a Zoom vehicle.
