.static
	%h1 Eligibility Policy
	%p
		&#x25CF;&nbsp;&nbsp; Any person driving a Zoom vehicle must be a Zoom member.
	%p
		&#x25CF;&nbsp;&nbsp; Members must be 23 years of age or older.
	%p
		&#x25CF;&nbsp;&nbsp; Member must possess a Light Motor Vehicle - Non Transport license that is valid for driving 
		%br/
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;light motor vehicles for personal purposes.
	%p
		&#x25CF;&nbsp;&nbsp; If not an Indian citizen, Member must have a valid international driver's license, issued in 
		%br/
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Member's home country.
	%p
		&#x25CF;&nbsp;&nbsp; Members must have had no alcohol or drug related driving violations in the past seven years.
	%p
		&#x25CF;&nbsp;&nbsp; There is no minimum amount of time that an individual must hold a license before becoming 
		%br/
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;a member or reserving a Zoom vehicle.
	%p
		&#x25CF;&nbsp;&nbsp; Payments are only accepted through a valid credit or debit card.
