.static
	%h1.zoom 8 STEPS TO BE A BETTER ZOOM MEMBER
	%p
		Zoom needs your help building our community.  Please be mindful of all Zoom members. Remember, how you treat your Zoom vehicle effects the person who has the next reservation.  Here are some guidelines to make sure that everybody has a great experience Zooming!
	%br/
	%h3
		1. Be smart
	%p
		- if false
			Zoom app or an SMS to lock the vehicle every time you leave.  If you aren't in cell range or if the network is down, simply take the key and lock the car manually (but be sure to put the key back).
		- else
			Use the key and lock the car every time you leave. Be sure to take the key whenever you leave the vehicle.
	%br/
	%h3
		2. Be safe
	%p
		Obey the traffic laws.  Don't drive recklessly.  Don't drink and drive.  Don't use your phone while driving.  Always wear your seatbelt.
	%br/
	%h3
		3. Be respectful
	%p
		- if false
			Return the car on time. Return the car to the same place you picked it up. Remember to end your reservation using Zoom's app or SMS. Notify Zoom immediately if you’re running late so that we can make arrangements for the next member.
		- else
			Return the car on time. Return the car to the same place you picked it up. Notify Zoom immediately if you’re running late so that we can make arrangements for the next member.
	%br/
	%h3
		4. Be clean
	%p
		Pick up after yourself.  No smoking or chewing tobacco.  Don’t use incense or other similar products.  No animals in the vehicles.  If you do spill food or drink in the vehicle, please notify the attendant so he can make sure the vehicle is clean for the next member.
	%br/
	%h3
		5. Be aware
	%p
		Check the vehicle for any of your personal belongs.  Don’t forget your phone or house keys in the car!
	%br/
	%h3
		6. Be responsible
	%p
		Don't leave the lights on when the car is off.  Don't drive with the parking brake on.  Don't use the car to haul or tow anything that could damage the vehicle.  Don’t drive in areas that are too rough for the vehicle.
	%br/
	%h3
		7. Be mindful
	%p
		Only Zoom members are allowed to drive Zoom vehicles.  Members are covered by our robust insurance policy, but non-members drivers will not be covered.  In case anything goes wrong, the Zoom member who made the reservation is fully responsible.
	%br/
	%h3
		8. Be in touch
	%p
		If there are any problems with the car, if you get a traffic or parking ticket, or if you get in an accident, immediately call us. We’re here 24x7 to serve our community.
