.static
	%h1 Zoomcar Member Agreement
	%p This Member Agreement is a contract and governs the relationships, rights, and obligations between Zoomcar India Private Limited (“Zoomcar”) and the Member.

	%p.zoom
		IF YOU DO NOT ACCEPT ALL THE TERMS AND CONDITIONS OF THIS AGREEMENT, YOU ARE NOT AUTHORIZED TO USE ANY OF ZOOMCAR’S VEHICLES OR SERVICES.

	%p 
		Zoomcar reserves the right to change the terms of this Agreement from time to time and shall give notice of such changes to the Member in a timely manner.  Notice to the Members shall be considered given when such notice is indicated and accessible from the first page accessed after the Member log-on to the Zoomcar website, by email to the Member’s email address provided to Zoomcar in the Member’s application or most recently provided to Zoomcar, or by SMS to the Member’s mobile number provided during the application.  Member agrees that the amended terms and conditions of this Agreement shall be effective and binding the earlier of (1) the effective date indicated in such notice; or (2) on the date posted on Zoomcar’s website.
	
	%p.zoom 
		IT WILL BE PRESUMED THAT MEMBER HAS RECEIVED ANY SUCH NOTICE IF AND WHEN MEMBER MAKES A RESERVATION FOR A ZOOMCAR VEHICLE AFTER NOTICE OF A CHANGE TO THIS AGREEMENT HAS BEEN PLACED ON THE ZOOMCAR WEBSITE AND/OR DISTRIBUTED TO MEMBER BY EMAIL OR SMS.  BY MAKING A RESERVATION AFTER RECEIVING NOTICE OF ANY CHANGES TO THE AGREEMENT, MEMBER ASSENTS TO AND WILL BE BOUND BY SUCH CHANGES TO THE AGREEMENT.  MEMBER MAY DECLINE SUCH CHANGES BY DISCONTINUING TRIPS UNDER ZOOMCAR’s CAR CLUB PROGRAM.

	%p 
		In the event of any conflict between this Agreement and any other document with respect to Zoomcar’s car club program, these Terms and Conditions shall govern except otherwise set forth from Zoomcar in writing.
	%br/

	%p.zoom.f-b.size-16
		1. Persons Permitted to Drive Vehicles
	%p
		1.1 Only active Zoomcar Members in good standing, as decided solely by Zoomcar, are allowed to drive Zoomcar vehicles. Non-Members are expressly prohibited from driving a Zoomcar vehicle at any time.  Members may drive a Zoomcar vehicle that has been reserved by another Zoomcar Member with the permission of the Member having carried out the reservation; however all fees and charges shall be determined in accordance with, and be the responsibility of, the reserving Member while any liability and/or claim arising out of such usage shall be that of all such participant Members.
	%p
		1.2 Satisfying eligibility criteria required to become a Zoomcar Member does not automatically give an applicant the right to become a Zoomcar Member. Acceptance of the applicant’s membership is subject to approval by Zoomcar at its sole discretion.
	%p
		1.3 Should any Member’s driver’s license expire or be revoked, authorization to drive Zoomcar vehicles shall expire immediately. Zoomcar shall be notified of such revocation by the Member by e-mail forthwith upon such revocation.
	%p
		1.4 By applying for membership, each applicant authorizes Zoomcar to obtain his/her driving records from the jurisdiction in which the applicant is licensed. Because driving a Zoomcar vehicle requires maintaining a good driving record, Zoomcar may periodically check Member’s driving records and reserves the right, at its sole discretion, to suspend or terminate the Membership of any Member who does not meet Zoomcar’s driving eligibility requirements.  Member agrees to promptly report to Zoomcar any suspension or revocation of his/her driver’s license, or any tickets/citations/conviction related to any moving violation including but not limited to driving under the influence of drugs or alcohol, driving while intoxicated, reckless driving, exceeding the speed limit, or sending an SMS while driving.
	%p
		1.5 Members are responsible for providing and maintaining current email, cell phone, address, and other account information.
	%p
		1.6 Members are responsible for keeping any Zoomcar related password and/or PIN numbers in strict confidence and to not make passwords or PINs available to third-parties,. Should a PIN or password be reduced to written or electronic form, the Member will be responsible for any associated costs and/or damages in connection with unauthorized use by third-parties.  If a Member has reason to believe a third-party may have obtained unauthorized knowledge of a password and/or PIN, Member agrees to change the compromised password and/or PIN.

	%p.zoom.f-b.size-16
		2. Prohibited Uses
	%p
		2.1 The use of a Zoomcar vehicle under the following conditions is prohibited:
	.m-l20
		%p
			a. any speed race or competition;
		%p
			b. for the purpose of towing, pushing, or propelling any trailer or any other vehicle;
		%p
			c. for the primary business purpose of transporting people or operating a taxi service;
		%p
			d. by any person who is under the influence of (i) alcohol or (ii) any drug or medication under the effects of which the operation of a vehicle is prohibited or not recommended. A zero-tolerance policy is adopted and a limit of 0.0% applies;
		%p
			e. in the carrying out of any crime or any other illegal activity;
		%p
			f. in an imprudent, negligent, or abusive manner or for any abnormal use of this vehicle;
		%p
			g. by any person who has provided Zoomcar with false information or whose representations are determined to be false (including, without limitation, regarding his name, age, or address);
		%p
			h. driving a Zoomcar vehicle outside of India or any prohibited areas within India;
		%p
			i. driving while using a mobile phone or any other mobile communication device in any manner whatsoever, including while sending an SMS, emailing, using a cell phone with or without a hands-free device, otherwise using a mobile communication device that may distract you from driving or otherwise engaging in similar activities that may be prohibited by applicable law;
		%p
			j. Using the Zoomcar vehicle to transport flammable, poisonous, or otherwise hazardous substances for other than legally permissible household use or in amounts greater than what is usually consumed in a household.
		%p
			k. Transporting objects with the Zoomcar vehicle that could – due to their size, shape, or weight – adversely impact the vehicle’s handling safety or that could damage the interior of the Zoomcar vehicle or, by virtue of such object/s protruding outside, affect the safety of vehicles driving in the vicinity of the Zoomcar vehicle.
		%p
			l. Transporting more passengers than there are seatbelts in the vehicle.
	%p
		2.2 The foregoing examples are not intended to be exhaustive. Any unreasonable or inappropriate use of a Zoomcar vehicle, as determined by Zoomcar in its sole discretion, may be deemed a violation of these Terms and Conditions. Zoomcar may report to the authorities any use of a Zoomcar vehicle or other activities that are in violation of local, state, and/or national law or in violation of these Terms and Conditions.
	%p
		2.3 Zoomcar may immediately suspend or terminate the use of its service by any Member for a violation of any of these Rules. Upon suspension or termination, any existing reservations for the Member may be canceled by Zoomcar at its sole discretion. In addition, Members will be responsible for any and all costs, charges, fees and expenses incurred by Zoomcar as a result of a breach of any of these Terms and Conditions.

	%p.zoom.f-b.size-16
		3. Reserving Zoomcar Vehicles
	%p
		3.1 Reservations are required. Members must always reserve a vehicle in advance of use and will be billed for use fees at the time of reservation.
	%p
		3.2 If you wish to cancel a reservation or shorten the period for which a vehicle has been reserved, you must do so in advance, as outlined in the Fee Policy.
	%p
		3.3 If you wish to extend a reservation, you may do so only if 
		%b a)	
		the Vehicle is available for use for the extension period (for example, it is not reserved by another Member); and
		%b b) 
		the request to extend is completed prior to the scheduled expiration time of your existing reservation.

	%p.zoom.f-b.size-16
		4. Vehicle Pick-Up and Return/Vehicle Condition/Stolen Vehicles
	%p
		4.1 You must pick up the selected vehicle at its designated Zoomcar parking space and return it secured, clean, and in good working order, to the correct and designated Zoomcar space by no later than the end time of your reservation.
	%p
		4.2 Prior to taking possession of a vehicle, you must do an exterior walk-around and an interior look-over. Before driving the vehicle, you must advise Zoomcar of any damage or abnormality encountered on the vehicle or in the operation of the vehicle. If Zoomcar is not notified of a problem at the start of a reservation, you will be deemed to be responsible for any problem with the vehicle discovered or reported after your reservation, including, without limitation, damage to the vehicle or lack of cleanliness. You may be charged a damage fee, a cleaning fee, or other applicable fees, and Zoomcar may suspend, or may even terminate your membership.
	%p
		4.3 You must leave the vehicle’s key, key fob, or other starting device to the vehicle in its designated position in the vehicle at the conclusion of your reservation. You must advise Zoomcar immediately if you fail to leave the key/fob/starting device, parking pass, or toll payment pass (if applicable in the vehicle. If you fail to do so and this causes inconvenience to another member, you will be charged the hourly rate for the vehicle until the key/key fob/starting device/parking pass/toll payment pass is returned and you will remain responsible for the vehicle during such period. You may also be charged a fee at Zoomcar’s sole discretion to replace any of the items missing from the vehicle.
	%p
		4.4 The end of the trip is initiated by the Member using either 
		%b a) 
		specific commands within Zoomcar’s mobile application or 
		%b b) 
		an SMS message to Zoomcar’s provided number to notify of such intent.
	%p
		4.5 Reserving Members are responsible for all charges and costs incurred related to the Zoomcar vehicle for the entire period of the reservation and until the vehicle is returned, secured, closed, locked and serviceable (all accessories off, key out of ignition and in proper place, all windows, doors, hatches, sunroofs and other openings closed, toll payment pass and parking pass and other accessories in the vehicle) to its designated location. Zoomcar vehicles must be returned no later than the end time of the reservation and the Member is required to terminate the reservation. If the vehicle is returned more than 1 hour prior to the end of the reservation, Zoomcar will credit the Member’s account with a driving credit for ½ of the cost for the unused time, up to one free hour of driving. Should a vehicle be returned late, the reserving Member will be responsible for late fees as described in the Fee Policy.
	%p
		4.6 Members are required to report to Zoomcar immediately any condition that impairs the driving functionality of the vehicle, such as poor driving feel or external or internal damage that renders the vehicle unsafe, including but not limited to, missing or inoperable signal or driving lighting, broken or missing rear-view mirrors and windshield glass.
	%p
		4.7 Stolen vehicles must be immediately reported to Zoomcar and the nearest police station with a detailed written complaint based on actual facts.  Members shall ensure that such complaint shall not contain any discrepancy, inconsistencies or distortions from actual facts as the same would be detrimental to a valid insurance or other claim by Zoomcar.  The Member will be liable for any loss due to a discrepant, inconsistent or distorted complaint by the Member.

	%p.zoom.f-b.size-16
		5. Safety
	%p
		5.1 Seat Belts and Child Restraints - Member is responsible for:
	%p
		a. Complying with all applicable seat belt and child restraint laws;
	%p
		b. Protecting all children by properly using any child passenger restraint system that complies with the Motor Vehicle Safety Standards in the jurisdiction where the trip is initiated and where the Zoomcar vehicle is driven during such trip.

	%p.zoom.f-b.size-16
		6. Securing Zoomcar Vehicles
	%p
		6.1 Each time the member parks a Zoomcar Vehicle (either at the end of the reservation or during), the member is responsible for securing the vehicle.
	%p
		a. Windows must be closed and
		The central locking system must be enabled using the smart phone app or the SMS command). If the car is outside of cell phone range, and the car cannot be locked through the phone command system, the user must remove the key and lock the car manually.  Member will be responsible for any fees or charges associated with a failure to perform these steps.
	%p
		6.2 The Member must remove the navigation tablet computer from its dashboard mount and place securely in the glove box, locking such compartment once securely fastened.  Failure to secure the vehicle or tablet will result in financial penalties in case of preventable theft or vandalism according to the Fee Schedule.
	%p
		6.3 Zoomcar encourages all its customers to take full responsibility of their belongings. In case of any Member claims to have left back any luggage or any phones or personal music devices inadvertently in the Zoomcar vehicle after the Member completes his/her reservation, Zoomcar shall endeavor to locate the lost belongings on a "best-effort" basis provided the Member notifies Zoomcar of the same within reasonable time, but Zoomcar shall not be held responsible for such loss or damage.

	%p.zoom.f-b.size-16
		7. Eligible (Reimbursable) Expenses
	%p
		7.1 An "Eligible Expense" is defined as (a) any fuel related expense (b) an expense incurred by the Member for minor (under INR 1000) routine maintenance on Zoomcar vehicles, such as new wiper blades, light bulbs, or windshield-washer fluid, etc. and (c) any expense in excess of INR 1000 that is authorized in advance by a Zoomcar Representative. If a Member pays for an Eligible Expense, he or she must keep the receipt and note on it the time it was made during the reservation period. The Member must print his or her name on the receipt and give a physical hard copy of the receipt to the Zoomcar vehicle attendant after their reservation.  Zoomcar will reimburse the member or credit the member's account.  No reimbursement or credit will be given without a receipt, or if the receipt is submitted 30 days or more from the reservation date.

	%p.zoom.f-b.size-16
		8. Maintenance/Cleanliness
	%p
		8.1 Zoomcar will perform all necessary and required routine maintenance on all of its vehicles. However, Members are responsible for the cleanliness of vehicles and are expected to assist in helping Zoomcar to maintain the driving safety and performance of the vehicle, in particular during longer reservations or when the vehicle indicates that service or maintenance is required.
	%p
		8.2 Vehicles may require Roadside Assistance from time to time. Zoomcar makes reasonable best efforts to provide Roadside Assistance support in all cases.  If, however, a Member's need for Roadside Assistance results from a breach of these Terms and Conditions, the Member may be charged for the full costs of the service.
	%p
		8.3 Inappropriate noises or driving feel, including but not limited to warning lamps, indicators, inappropriate sounds or smells, or performance changes must be reported to Zoomcar as soon as noted. Failure to report such irregularities during the use of a Zoomcar vehicle may result in such Member's immediate suspension or termination of the Member's Contract.
	%p
		8.4 Tobacco use is absolutely prohibited in Zoomcar vehicles.  Members are subject to fees if evidence of smoking, chewing, or dipping is found in Zoomcar vehicles or complained of by a Member using the vehicle immediately following the Member’s reservation.
	%p
		8.5 Burning any substance is absolutely prohibited in Zoomcar vehicles.  This includes, but is not limited to tobacco, other drugs, and incense.
	%p
		8.6 Pets are absolutely prohibited in Zoomcar vehicles, except for those vehicles designated “pet friendly”.  Members are subject to fees if evidence of pets is found in Zoomcar vehicles or complained of by a Member using the vehicle immediately following the Member’s reservation.

	%p.zoom.f-b.size-16
		9. Breakdown or Incidents
	%p
		9.1 All breakdowns or incidents involving Zoomcar vehicles must be reported to Zoomcar immediately by phone to #{@city.contact_phone}.
	%p
		9.2 Breakdown and Roadside Assistance. When using a vehicle, you must follow the owner's manual instructions, provided in the vehicle’s glove compartment. If a problem arises that prevents or limits the use of the vehicle or that may compromise people's safety, Members must immediately notify Zoomcar and follow Zoomcar’s instructions. Members may have to pay for towing, repairs, and other expenses in some circumstances.  When authorized by a Zoomcar Representative (in which case these amounts will be considered Eligible Expenses reimbursable as provided in Section 6.1).
	%p
		9.3 Jump start. If you perform a jump start to the Zoomcar vehicle, you must inform Zoomcar immediately by phone or through the mobile app). You are fully responsible for any damage that may result from the improper use of jumper cables or other tools. It is strictly forbidden to provide a jump start to any vehicle other than a Zoomcar vehicle.
	%p
		9.4 Incident. In case of an incident involving property damage or any third party, the Member must fill out an official police report form, and, if possible, provide a jointly agreed-upon statement, complete Zoomcar’s incident report form, and obtain the following information:
	%p
		a. Date, time, and place of incident;
	%p
		b. The license plate numbers of any other vehicles involved, their make and year, their identification number (serial number), and the insurance certificate's number (with name, address and phone number of the insurance agent);
	%p
		c. The names, addresses, and driver's license numbers of the persons involved in the incident;
	%p
		d. The name, address, and driver's license number of the owner of the vehicle (if he or she is not the driver);
	%p
		e. The name, addresses, and phone number of witnesses, passengers, and any other involved persons;
	%p
		f. Circumstances of the incident describing immediate surrounding environment and car position prior to the incident; and
	%p
		g. A police report is required regardless of liability or fault.
		Members shall specify in their detailed written complaint to the police the actual facts only.  Members shall ensure that such complaint shall not contain any discrepancy, inconsistencies or distortions from actual facts as the same would be detrimental to a valid insurance or other claim by Zoomcar.  Any loss occasioned to Zoomcar due to a discrepant, inconsistent or distorted complaint by a Member shall be to the account of such Member.
	%p
		9.5 Investigation and procedure. Members must provide to Zoomcar and any other claims adjustment service with the findings of any report or any notice relating to a claim or a lawsuit against Zoomcar regarding any incident involving a Zoomcar vehicle. Members agree to cooperate fully with Zoomcar in the investigation and defense of any such claim or lawsuit. A Member's accounts will be suspended until the investigation has been concluded.
	%p
		9.6 The Member shall be responsible for the costs related to the repair, recovery, and loss of use of any Zoomcar vehicle resulting from any of the foregoing, up to the current Damage Fee as set forth in the Fee Policy / Rate Schedule (if such costs are determined to be the fault of the Member or fault is not established to any other person or entity, or where any cost is not paid / reimbursed by the insurer of Zoomcar vehicles or the insurer of the other vehicle involved in the accident).  Please note that a Member may be responsible for all applicable damages and costs arising from the Member's failure to comply with the terms of the Agreement.

	%p.zoom.f-b.size-16
		10. Traffic Violations
	%p
		10.1 You are responsible for any traffic violations incurred due to your use of a Zoomcar vehicle. This includes, but is not limited to: parking, speeding, breaking red light, photo enforcement, and toll violations. You are liable for all costs from any such violation, including fines for late payment and any processing fees added by the issuing municipality. You are liable for payment of all tolls and any fines for toll evasion. You must report such violations to a Zoomcar Representative as soon as possible within the prescribed deadline for the violation (for example, if the case is being taken to court). See our Fee Policy for further guidance. Zoomcar will notify the Member immediately by e-mail after it learns of any such violation and Member shall forthwith pay the relevant fine/s to the authority concerned and provide Zoomcar with the proof of such payment. However, where Member has personal knowledge of such violations, Zoomcar will not be obligated to provide Member with the notification as above, but Member’s obligation to pay the relevant fine/s and notifying Zoomcar of such compliance will continue as aforementioned.
	%p
		10.2 You must notify Zoomcar of any traffic violation notices found on a vehicle at the time of vehicle pick up. All unreported traffic violations will be the responsibility of a Member if they occur during the time period during which such Member is responsible for the Zoomcar vehicle.
	%p
		#Insurance
		10.3 You must not leave a vehicle in a zone which has parking restrictions. If you leave the vehicle in such a restricted zone, you must immediately notify Zoomcar, and you will be responsible for any and all violation notices or towing charges incurred by Zoomcar.  Additionally, financial penalties will be levied against you for any inconvenience caused to other Zoomcar members if the vehicle is unavailable for their reservation because of such parking violations as set out in the Fee Policy.

	%p.zoom.f-b.size-16
		11. Insurance and Liability
	%p
		11.1 MEMBER DEDUCTIBLE OBLIGATION:
	%p
		a. If Member is in compliance with the Terms and Conditions of the Zoomcar car club program, Zoomcar shall provide primary liability protection, which is the extent of claims / liabilities covered by Zoomcar’s vehicle insurer, on Zoomcar vehicles for claims and/or liabilities arising out of the use or operation of the vehicle by the Member.  MEMBER WILL BE RESPONSIBLE FOR ANY ASSOCIATED DEDUCTIBLE PERSONALLY ATTRIBUTABLE TO THE MEMBER.
	%p
		b. If at any time it is determined that losses will exceed the Member’s coverage provided by Zoomcar, Member will be responsible for the excess.
	%p
		11.2 Zoomcar is not responsible for any damage to, loss or theft of, any personal property belonging to Member or third-parties, regardless of fault or negligence.
	%p
		11.3 LIABILITY PROTECTION APPLIES ONLY TO CLAIMS OF THIRD-PARTY BODILY INJURY, DEATH OR PROPERTY DAMAGE, OTHER THAN TO THE VEHICLE, ARISING FROM THE USE OF THE ZOOMCAR VEHICLE AS PERMITTED BY THIS AGREEMENT AND APPLICABLE LAW. ANY SUCH PROTECTION EXCLUDES ANY CLAIM MADE BY MEMBER, OR MEMBER’S IMMEDIATE FAMILY MEMBERS WHO PERMANENTLY LIVE WITH MEMBER OR IS TRAVELLING WITH MEMBER AT THE TIME OF INCIDENT.
	%p
		11.4 INDEMNIFICATION. MEMBER INDEMNIFIES AND HOLDS ZOOMCAR, ITS PARENT AND AFFILIATES AND THEIR RESPECTIVE DIRECTORS, OFFICERS, EMPLOYEES, SHAREHOLDERS, AGENTS, ATTORNEYS, ASSIGNS AND SUCCESSORS-IN-INTEREST, HARMLESS FOR ALL LOSSES, LIABILITIES, DAMAGES, INJURIES, CLAIMS, DEMANDS, COSTS, ATTORNEY FEES, AND OTHER EXPENSES INCURRED BY ZOOMCAR (A “LOSS”) ARISING FROM: (1) THE USE OR POSSESSION OF THE ZOOMCAR VEHICLE BY THE MEMBER AND (2) THE MEMBER’S NON-COMPLIANCE WITH THIS AGREEMENT.
	%p
		11.5 MEMBER SHALL HAVE FINAL RESPONSIBILITY TO ZOOMCAR FOR ALL SUCH LOSSES.  THIS OBLIGATION MAY BE LIMITED TO THE EXTENT ZOOMCAR’S COVERAGE APPLIES.  ZOOMCAR SHALL NOT BE LIABLE TO MEMBER FOR ANY INDIRECT, SPECIAL, PUNITIVE, OR CONSEQUENTIAL DAMAGES (INCLUDING LOST PROFITS) ARISING FROM OR RELATED TO THE ZOOMCAR VEHICLE, ITS USE, OR THIS AGREEMENT.
	%p
		11.6 This Agreement is intended for the benefit of Member and Zoomcar and no other party may claim rights hereunder, whether as a third-party beneficiary or otherwise. UNDER NO CIRCUMSTANCES WILL ZOOMCAR BE LIABLE TO ANY THIRD-PARTY FOR INDIRECT, INCIDENTAL, SPECIAL, OR CONSEQUENTIAL DAMAGES ARISING  FROM OR RELATED TO THIS AGREEMENT OR USE OF ZOOMCAR VEHICLES AND SERVICE.

	%p.zoom.f-b.size-16
		12. Data Protection
	%p
		12.1 Zoomcar captures, stores, processes and uses the Member’s personal data, including, but not limited to, the usage and vehicle data as they relate to the Member, to the extent this is necessary for the administration and implementation of this Agreement and the Member’s use of the Zoomcar vehicle.
	%p
		12.2 Should third-party services be used, Zoomcar is entitled to forward to the third-party service provider the Member’s personal data, to the extent this is required in order to fulfill membership or use requirements.
	%p
		12.3 Zoomcar is entitled to provide Member’s personal data to third-parties for the purposes of providing individualized offers, services, and other customized information to Members.
	%p
		12.4 Zoomcar shall implement and maintain reasonable procedures for protecting sensitive personal information in compliance with applicable law.
	%p
		12.5 Zoomcar shall be entitled to disclose information of the Member to Zoomcar’s parent company and to all companies controlled by Zoomcar or any of its affiliates and to any government body as required by the law/ or by directive/ or request from any government body or to any third party deemed fit and proper by Zoomcar, in its absolute discretion.

	%p.zoom.f-b.size-16
		13. In case of dispute
	%p
		13.1 The courts of Bangalore, Karnataka, India shall alone have the sole and exclusive jurisdiction in respect of any matters which may be instituted before any court of law, arising in respect of any disputes between Zoomcar and the Member arising from the use of the services offered by Zoomcar.
	%p
		13.2 Member agrees to pay Zoomcar’s reasonable attorneys' fees and costs in any legal proceeding relating to this Agreement, including appeals.
	%p
		13.3 Member must not aid or encourage the filing of any third-party claim or lawsuit against Zoomcar, and Member must cooperate fully with Zoomcar and Zoomcar’s insurer in the investigation and defense of any claim or lawsuit. In any proceeding involving the Member and Zoomcar as co-defendants should Zoomcar determine in its sole discretion that the Member’s independent attorney has not aligned his defense similar to that of Zoomcar, Zoomcar shall be entitled to call upon the Member to change his attorney to one advised by Zoomcar and the Member shall accordingly change his attorney at his own cost.
	%p
		13.4 Member must immediately notify and deliver to Zoomcar every summons, complaint, document, or notice of any kind received by Member in any way relating to an accident, theft, or other circumstances related to the Zoomcar vehicle.

	%p.zoom.f-b.size-16
		14. Severability and Integrated Agreement
	%p
		If any term, provision, covenant or condition of this Agreement is held invalid or unenforceable for any reason, the remainder of the provisions will continue in full force and effect as if this Agreement had been executed with the invalid portion eliminated. The Parties further agree to substitute for the invalid provision a valid provision that most closely approximates the intent and economic effect of the invalid provision. This Agreement, together with the User Guide, Trip Process, member application, Fee Policy / Rate Schedule, and any applicable consent forms, along with any amendments hereto, encompasses the entire agreement between Member and Zoomcar, and supersedes all previous understandings and agreements between Member and Zoomcar. Member acknowledges and represents that he or she has not relied on any representation, assertion, guarantee, warranty, collateral contract or other assurance, except those set out in this Agreement, made by or on behalf of any other party or any other person or entity whatsoever, prior to the execution of this Agreement.

	%p.zoom.f-b.size-16
		15. No Waiver
	%p
		No term contained in this Agreement may be changed or waived, except in writing signed by an expressly authorized representative of Zoomcar.  No waiver of default by either party under any of the Terms or Conditions of this Agreement shall be construed as a waiver of any prior or subsequent default of any of the Terms or Conditions of this Agreement.

	%p.zoom.f-b.size-16
		16. Assignment or Transfer
	%p
		The rights granted to the Member under this Agreement are not assignable or transferable, in whole or part. Any attempt to transfer this Agreement without the written consent of Zoomcar shall be void and of no force and effect. Zoomcar may assign this Agreement to an affiliate or to another entity in connection with a corporate transaction.

	%p.zoom.f-b.size-16
		17. No Agency
	%p
		Member will never be deemed to be Zoomcar’s agent, servant, or employee in any manner for any purpose whatsoever.
