.static
	%h1 Zoom Member Agreement
	%p This Member Agreement is a contract and governs the relationships, rights, and obligations between ZoomCar India Private Limited (“Zoom”) and the Member.
	%h4 IF YOU DO NOT ACCEPT ALL THE TERMS AND CONDITIONS OF THIS AGREEMENT, YOU ARE NOT AUTHORIZED TO USE ANY OF ZOOM’S VEHICLES OR SERVICES.
	%p Zoom reserves the right to change the terms of this Agreement from time to time and shall give notice of such changes to the Member in a timely manner.  Notice to the Members shall be considered given when such notice is indicated and accessible from the first page accessed after the Member log-on to the Zoom website, by email to the Member’s email address provided to Zoom in the Member’s application or most recently provided to Zoom, or by SMS to the Member’s mobile number provided during the application.  Member agrees that the amended terms and conditions of this Agreement shall be effective and binding the earlier of (1) the effective date indicated in such notice; or (2) on the date posted on Zoom’s website.
	%h4 IT WILL BE PRESUMED THAT MEMBER HAS RECEIVED ANY SUCH NOTICE IF AND WHEN MEMBER MAKES A RESERVATION FOR A ZOOM VEHICLE AFTER NOTICE OF A CHANGE TO THIS AGREEMENT HAS BEEN PLACED ON THE ZOOM WEBSITE AND/OR DISTRIBUTED TO MEMBER BY EMAIL OR SMS.  BY MAKING A RESERVATION AFTER RECEIVING NOTICE OF ANY CHANGES TO THE AGREEMENT, MEMBER ASSENTS TO AND WILL BE BOUND BY SUCH CHANGES TO THE AGREEMENT.  MEMBER MAY DECLINE SUCH CHANGES BY DISCONTINUING TRIPS UNDER ZOOM’s CAR CLUB PROGRAM.
	%p In the event of any conflict between this Agreement and any other document with respect to Zoom’s car club program, these Terms and Conditions shall govern except otherwise set forth from Zoom in writing.
	%p
		1. Persons Permitted to Drive Vehicles
		%br/
		1.1 Only active Zoom Members in good standing, as decided solely by Zoom, are allowed to drive Zoom vehicles. Non-Members are expressly prohibited from driving a Zoom vehicle at any time.  Members may drive a Zoom vehicle that has been reserved by another Zoom Member with the permission of the Member having carried out the reservation; however all fees and charges shall be determined in accordance with, and be the responsibility of, the reserving Member while any liability and/or claim arising out of such usage shall be that of all such participant Members.
		%br/
		1.2 Satisfying eligibility criteria required to become a Zoom Member does not automatically give an applicant the right to become a Zoom Member. Acceptance of the applicant’s membership is subject to approval by Zoom at its sole discretion.
		%br/
		1.3 Should any Member’s driver’s license expire or be revoked, authorization to drive Zoom vehicles shall expire immediately. Zoom shall be notified of such revocation by the Member by e-mail forthwith upon such revocation.
		%br/
		1.4 By applying for membership, each applicant authorizes Zoom to obtain his/her driving records from the jurisdiction in which the applicant is licensed. Because driving a Zoom vehicle requires maintaining a good driving record, Zoom may periodically check Member’s driving records and reserves the right, at its sole discretion, to suspend or terminate the Membership of any Member who does not meet Zoom’s driving eligibility requirements.  Member agrees to promptly report to Zoom any suspension or revocation of his/her driver’s license, or any tickets/citations/conviction related to any moving violation including but not limited to driving under the influence of drugs or alcohol, driving while intoxicated, reckless driving, exceeding the speed limit, or sending an SMS while driving.
		%br/
		1.5 Members are responsible for providing and maintaining current email, cell phone, address, and other account information.
		%br/
		1.6 Members are responsible for keeping any Zoom related password and/or PIN numbers in strict confidence and to not make passwords or PINs available to third-parties,. Should a PIN or password be reduced to written or electronic form, the Member will be responsible for any associated costs and/or damages in connection with unauthorized use by third-parties.  If a Member has reason to believe a third-party may have obtained unauthorized knowledge of a password and/or PIN, Member agrees to change the compromised password and/or PIN.
	%p
		2. Prohibited Uses
		%br/
		2.1 The use of a Zoom vehicle under the following conditions is prohibited:
		%br/
		a. any speed race or competition;
		%br/
		b. for the purpose of towing, pushing, or propelling any trailer or any other vehicle;
		%br/
		c. for the primary business purpose of transporting people or operating a taxi service;
		%br/
		d. by any person who is under the influence of (i) alcohol or (ii) any drug or medication under the effects of which the operation of a vehicle is prohibited or not recommended. A zero-tolerance policy is adopted and a limit of 0.0% applies;
		%br/
		e. in the carrying out of any crime or any other illegal activity;
		%br/
		f. in an imprudent, negligent, or abusive manner or for any abnormal use of this vehicle;
		%br/
		g. by any person who has provided Zoom with false information or whose representations are determined to be false (including, without limitation, regarding his name, age, or address);
		%br/
		h. driving a Zoom vehicle outside of India or any prohibited areas within India;
		%br/
		i. driving while using a mobile phone or any other mobile communication device in any manner whatsoever, including while sending an SMS, emailing, using a cell phone with or without a hands-free device, otherwise using a mobile communication device that may distract you from driving or otherwise engaging in similar activities that may be prohibited by applicable law;
		%br/
		j. Using the Zoom vehicle to transport flammable, poisonous, or otherwise hazardous substances for other than legally permissible household use or in amounts greater than what is usually consumed in a household.
		%br/
		k. Transporting objects with the Zoom vehicle that could – due to their size, shape, or weight – adversely impact the vehicle’s handling safety or that could damage the interior of the Zoom vehicle or, by virtue of such object/s protruding outside, affect the safety of vehicles driving in the vicinity of the Zoom vehicle.
		%br/
		l. Transporting more passengers than there are seatbelts in the vehicle.
		%br/
		2.2 The foregoing examples are not intended to be exhaustive. Any unreasonable or inappropriate use of a Zoom vehicle, as determined by Zoom in its sole discretion, may be deemed a violation of these Terms and Conditions. Zoom may report to the authorities any use of a Zoom vehicle or other activities that are in violation of local, state, and/or national law or in violation of these Terms and Conditions.
		%br/
		2.3 Zoom may immediately suspend or terminate the use of its service by any Member for a violation of any of these Rules. Upon suspension or termination, any existing reservations for the Member may be canceled by Zoom at its sole discretion. In addition, Members will be responsible for any and all costs, charges, fees and expenses incurred by Zoom as a result of a breach of any of these Terms and Conditions.
	%p
		3. Reserving Zoom Vehicles
		%br/
		3.1 Reservations are required. Members must always reserve a vehicle in advance of use and will be billed for use fees at the time of reservation.
		%br/
		3.2 If you wish to cancel a reservation or shorten the period for which a vehicle has been reserved, you must do so in advance, as outlined in the Fee Policy.
		%br/
		3.2 If you wish to extend a reservation, you may do so only if
		i.	the Vehicle is available for use for the extension period (for example, it is not reserved by another Member); and
		ii. the request to extend is completed prior to the scheduled expiration time of your existing reservation.
	%p
		4. Vehicle Pick-Up and Return/Vehicle Condition/Stolen Vehicles
		%br/
		4.1 You must pick up the selected vehicle at its designated Zoom parking space and return it secured, clean, and in good working order, to the correct and designated Zoom space by no later than the end time of your reservation.
		%br/
		4.2 Prior to taking possession of a vehicle, you must do an exterior walk-around and an interior look-over. Before driving the vehicle, you must advise Zoom of any damage or abnormality encountered on the vehicle or in the operation of the vehicle. If Zoom is not notified of a problem at the start of a reservation, you will be deemed to be responsible for any problem with the vehicle discovered or reported after your reservation, including, without limitation, damage to the vehicle or lack of cleanliness. You may be charged the Damage Fee, a cleaning fee, or other applicable fees, and Zoom may suspend, or may even terminate your membership.
		%br/
		4.3 You must leave the vehicle’s key, key fob, or other starting device to the vehicle in its designated position in the vehicle at the conclusion of your reservation. You must advise Zoom immediately if you fail to leave the key/fob/starting device, parking pass, or toll payment pass (if applicable in the vehicle. If you fail to do so and this causes inconvenience to another member, you will be charged the hourly rate for the vehicle until the key/key fob/starting device/parking pass/toll payment pass is returned and you will remain responsible for the vehicle during such period. You may also be charged a fee at Zoom’s sole discretion to replace any of the items missing from the vehicle.
		%br/
		4.4 The end of the trip is initiated by the Member using either a) specific commands within Zoom’s mobile application or b) an SMS message to Zoom’s provided number to notify of such intent.
		%br/
		4.5 Reserving Members are responsible for all charges and costs incurred related to the Zoom vehicle for the entire period of the reservation and until the vehicle is returned, secured, closed, locked and serviceable (all accessories off, key out of ignition and in proper place, all windows, doors, hatches, sunroofs and other openings closed, toll payment pass and parking pass and other accessories in the vehicle) to its designated location. Zoom vehicles must be returned no later than the end time of the reservation and the Member is required to terminate the reservation. If the vehicle is returned more than 1 hour prior to the end of the reservation, Zoom will credit the Member’s account with a driving credit for ½ of the cost for the unused time, up to one free hour of driving. Should a vehicle be returned late, the reserving Member will be responsible for late fees as described in the Fee Policy.
		%br/
		4.6 Members are required to report to Zoom immediately any condition that impairs the driving functionality of the vehicle, such as poor driving feel or external or internal damage that renders the vehicle unsafe, including but not limited to, missing or inoperable signal or driving lighting, broken or missing rear-view mirrors and windshield glass.
		%br/
		4.7 Stolen vehicles must be immediately reported to Zoom and the nearest police station with a detailed written complaint based on actual facts.  Members shall ensure that such complaint shall not contain any discrepancy, inconsistencies or distortions from actual facts as the same would be detrimental to a valid insurance or other claim by Zoom.  The Member will be liable for any loss due to a discrepant, inconsistent or distorted complaint by the Member.
	%p
		5. Safety
		%br/
		5.1 Seat Belts and Child Restraints - Member is responsible for:
		%br/
		a. Complying with all applicable seat belt and child restraint laws;
		%br/
		b. Protecting all children by properly using any child passenger restraint system that complies with the Motor Vehicle Safety Standards in the jurisdiction where the trip is initiated and where the Zoom vehicle is driven during such trip.
	%p
		6. Securing Zoom Vehicles
		%br/
		6.1 Each time the member parks a Zoom Vehicle (either at the end of the reservation or during), the member is responsible for securing the vehicle.
		%br/
		a. Windows must be closed and
		The central locking system must be enabled using the smart phone app or the SMS command). If the car is outside of cell phone range, and the car cannot be locked through the phone command system, the user must remove the key and lock the car manually.  Member will be responsible for any fees or charges associated with a failure to perform these steps.
		%br/
		6.2 The Member must remove the navigation tablet computer from its dashboard mount and place securely in the glove box, locking such compartment once securely fastened.  Failure to secure the vehicle or tablet will result in financial penalties in case of preventable theft or vandalism according to the Fee Schedule.
		%br/
		6.3 Zoom encourages all its customers to take full responsibility of their belongings. In case of any Member claims to have left back any luggage or any phones or personal music devices inadvertently in the Zoom vehicle after the Member completes his/her reservation, Zoom shall endeavor to locate the lost belongings on a "best-effort" basis provided the Member notifies Zoom of the same within reasonable time, but Zoom shall not be held responsible for such loss or damage.
	%p
		7. Eligible (Reimbursable) Expenses
		%br/
		7.1 An "Eligible Expense" is defined as (a) any fuel related expense (b) an expense incurred by the Member for minor (under INR 1000) routine maintenance on Zoom vehicles, such as new wiper blades, light bulbs, or windshield-washer fluid, etc. and (c) any expense in excess of INR 1000 that is authorized in advance by a Zoom Representative. If a Member pays for an Eligible Expense, he or she must keep the receipt and note on it the time it was made during the reservation period. The Member must print his or her name on the receipt and give a physical hard copy of the receipt to the Zoom vehicle attendant after their reservation.  Zoom will reimburse the member or credit the member's account.  No reimbursement or credit will be given without a receipt, or if the receipt is submitted 30 days or more from the reservation date.
	%p
		8. Maintenance/Cleanliness
		%br/
		8.1 Zoom will perform all necessary and required routine maintenance on all of its vehicles. However, Members are responsible for the cleanliness of vehicles and are expected to assist in helping Zoom to maintain the driving safety and performance of the vehicle, in particular during longer reservations or when the vehicle indicates that service or maintenance is required.
		%br/
		8.2 Vehicles may require Roadside Assistance from time to time. Zoom makes reasonable best efforts to provide Roadside Assistance support in all cases.  If, however, a Member's need for Roadside Assistance results from a breach of these Terms and Conditions, the Member may be charged for the full costs of the service.
		%br/
		8.3 Inappropriate noises or driving feel, including but not limited to warning lamps, indicators, inappropriate sounds or smells, or performance changes must be reported to Zoom as soon as noted. Failure to report such irregularities during the use of a Zoom vehicle may result in such Member's immediate suspension or termination of the Member's Contract.
		%br/
		8.4 Tobacco use is absolutely prohibited in Zoom vehicles.  Members are subject to fees if evidence of smoking, chewing, or dipping is found in Zoom vehicles or complained of by a Member using the vehicle immediately following the Member’s reservation.
		%br/
		8.5 Burning any substance is absolutely prohibited in Zoom vehicles.  This includes, but is not limited to tobacco, other drugs, and incense.
		%br/
		8.6 Pets are absolutely prohibited in Zoom vehicles, except for those vehicles designated “pet friendly”.  Members are subject to fees if evidence of pets is found in Zoom vehicles or complained of by a Member using the vehicle immediately following the Member’s reservation.
	%p
		9. Breakdown or Incidents
		%br/
		9.1 All breakdowns or incidents involving Zoom vehicles must be reported to Zoom immediately by phone to #{CommonHelper::CUSTOMER_CARE}.
		%br/
		9.2 Breakdown and Roadside Assistance. When using a vehicle, you must follow the owner's manual instructions, provided in the vehicle’s glove compartment. If a problem arises that prevents or limits the use of the vehicle or that may compromise people's safety, Members must immediately notify Zoom and follow Zoom’s instructions. Members may have to pay for towing, repairs, and other expenses in some circumstances.  When authorized by a Zoom Representative (in which case these amounts will be considered Eligible Expenses reimbursable as provided in Section 6.1).
		%br/
		9.3 Jump start. If you perform a jump start to the Zoom vehicle, you must inform Zoom immediately by phone or through the mobile app). You are fully responsible for any damage that may result from the improper use of jumper cables or other tools. It is strictly forbidden to provide a jump start to any vehicle other than a Zoom vehicle.
		%br/
		9.4 Incident. In case of an incident involving property damage or any third party, the Member must fill out an official police report form, and, if possible, provide a jointly agreed-upon statement, complete Zoom’s incident report form, and obtain the following information:
		%br/
		a. Date, time, and place of incident;
		%br/
		b. The license plate numbers of any other vehicles involved, their make and year, their identification number (serial number), and the insurance certificate's number (with name, address and phone number of the insurance agent);
		%br/
		c. The names, addresses, and driver's license numbers of the persons involved in the incident;
		%br/
		d. The name, address, and driver's license number of the owner of the vehicle (if he or she is not the driver);
		%br/
		e. The name, addresses, and phone number of witnesses, passengers, and any other involved persons;
		%br/
		f. Circumstances of the incident describing immediate surrounding environment and car position prior to the incident; and
		%br/
		g. A police report is required regardless of liability or fault.
		Members shall specify in their detailed written complaint to the police the actual facts only.  Members shall ensure that such complaint shall not contain any discrepancy, inconsistencies or distortions from actual facts as the same would be detrimental to a valid insurance or other claim by Zoom.  Any loss occasioned to Zoom due to a discrepant, inconsistent or distorted complaint by a Member shall be to the account of such Member.
		%br/
		9.5 Investigation and procedure. Members must provide to Zoom and any other claims adjustment service with the findings of any report or any notice relating to a claim or a lawsuit against Zoom regarding any incident involving a Zoom vehicle. Members agree to cooperate fully with Zoom in the investigation and defense of any such claim or lawsuit. A Member's accounts will be suspended until the investigation has been concluded.
		%br/
		9.6 The Member shall be responsible for the costs related to the repair, recovery, and loss of use of any Zoom vehicle resulting from any of the foregoing, up to the current Damage Fee as set forth in the Fee Policy / Rate Schedule (if such costs are determined to be the fault of the Member or fault is not established to any other person or entity, or where any cost is not paid / reimbursed by the insurer of Zoom vehicles or the insurer of the other vehicle involved in the accident).  Please note that a Member may be responsible for all applicable damages and costs arising from the Member's failure to comply with the terms of the Agreement.
	%p
		10. Traffic Violations
		%br/
		10.1 You are responsible for any traffic violations incurred due to your use of a Zoom vehicle. This includes, but is not limited to: parking, speeding, breaking red light, photo enforcement, and toll violations. You are liable for all costs from any such violation, including fines for late payment and any processing fees added by the issuing municipality. You are liable for payment of all tolls and any fines for toll evasion. You must report such violations to a Zoom Representative as soon as possible within the prescribed deadline for the violation (for example, if the case is being taken to court). See our Fee Policy for further guidance. Zoom will notify the Member immediately by e-mail after it learns of any such violation and Member shall forthwith pay the relevant fine/s to the authority concerned and provide Zoom with the proof of such payment. However, where Member has personal knowledge of such violations, Zoom will not be obligated to provide Member with the notification as above, but Member’s obligation to pay the relevant fine/s and notifying Zoom of such compliance will continue as aforementioned.
		%br/
		10.2 You must notify Zoom of any traffic violation notices found on a vehicle at the time of vehicle pick up. All unreported traffic violations will be the responsibility of a Member if they occur during the time period during which such Member is responsible for the Zoom vehicle.
		%br/
		#Insurance
		10.3 You must not leave a vehicle in a zone which has parking restrictions. If you leave the vehicle in such a restricted zone, you must immediately notify Zoom, and you will be responsible for any and all violation notices or towing charges incurred by Zoom.  Additionally, financial penalties will be levied against you for any inconvenience caused to other Zoom members if the vehicle is unavailable for their reservation because of such parking violations as set out in the Fee Policy.
	%p
		11. Insurance and Liability
		%br/
		11.1 MEMBER DEDUCTIBLE OBLIGATION:
		%br/
		a. If Member is in compliance with the Terms and Conditions of the Zoom car club program, Zoom shall provide primary liability protection, which is the extent of claims / liabilities covered by Zoom’s vehicle insurer, on Zoom vehicles for claims and/or liabilities arising out of the use or operation of the vehicle by the Member.  MEMBER WILL BE RESPONSIBLE FOR ANY ASSOCIATED DEDUCTIBLE PERSONALLY ATTRIBUTABLE TO THE MEMBER.
		%br/
		b. If at any time it is determined that losses will exceed the Member’s coverage provided by Zoom, Member will be responsible for the excess.
		%br/
		11.2 Zoom is not responsible for any damage to, loss or theft of, any personal property belonging to Member or third-parties, regardless of fault or negligence.
		%br/
		11.3 LIABILITY PROTECTION APPLIES ONLY TO CLAIMS OF THIRD-PARTY BODILY INJURY, DEATH OR PROPERTY DAMAGE, OTHER THAN TO THE VEHICLE, ARISING FROM THE USE OF THE ZOOM VEHICLE AS PERMITTED BY THIS AGREEMENT AND APPLICABLE LAW. ANY SUCH PROTECTION EXCLUDES ANY CLAIM MADE BY MEMBER, OR MEMBER’S IMMEDIATE FAMILY MEMBERS WHO PERMANENTLY LIVE WITH MEMBER OR IS TRAVELLING WITH MEMBER AT THE TIME OF INCIDENT.
		%br/
		11.4 INDEMNIFICATION. MEMBER INDEMNIFIES AND HOLDS ZOOM, ITS PARENT AND AFFILIATES AND THEIR RESPECTIVE DIRECTORS, OFFICERS, EMPLOYEES, SHAREHOLDERS, AGENTS, ATTORNEYS, ASSIGNS AND SUCCESSORS-IN-INTEREST, HARMLESS FOR ALL LOSSES, LIABILITIES, DAMAGES, INJURIES, CLAIMS, DEMANDS, COSTS, ATTORNEY FEES, AND OTHER EXPENSES INCURRED BY ZOOM (A “LOSS”) ARISING FROM: (1) THE USE OR POSSESSION OF THE ZOOM VEHICLE BY THE MEMBER AND (2) THE MEMBER’S NON-COMPLIANCE WITH THIS AGREEMENT.
		%br/
		11.5 MEMBER SHALL HAVE FINAL RESPONSIBILITY TO ZOOM FOR ALL SUCH LOSSES.  THIS OBLIGATION MAY BE LIMITED TO THE EXTENT ZOOM’S COVERAGE APPLIES.  ZOOM SHALL NOT BE LIABLE TO MEMBER FOR ANY INDIRECT, SPECIAL, PUNITIVE, OR CONSEQUENTIAL DAMAGES (INCLUDING LOST PROFITS) ARISING FROM OR RELATED TO THE ZOOM VEHICLE, ITS USE, OR THIS AGREEMENT.
		%br/
		11.6 This Agreement is intended for the benefit of Member and Zoom and no other party may claim rights hereunder, whether as a third-party beneficiary or otherwise. UNDER NO CIRCUMSTANCES WILL ZOOM BE LIABLE TO ANY THIRD-PARTY FOR INDIRECT, INCIDENTAL, SPECIAL, OR CONSEQUENTIAL DAMAGES ARISING  FROM OR RELATED TO THIS AGREEMENT OR USE OF ZOOM VEHICLES AND SERVICE.
	%p
		12. Data Protection
		%br/
		12.1 Zoom captures, stores, processes and uses the Member’s personal data, including, but not limited to, the usage and vehicle data as they relate to the Member, to the extent this is necessary for the administration and implementation of this Agreement and the Member’s use of the Zoom vehicle.
		%br/
		12.2 Should third-party services be used, Zoom is entitled to forward to the third-party service provider the Member’s personal data, to the extent this is required in order to fulfill membership or use requirements.
		%br/
		12.3 Zoom is entitled to provide Member’s personal data to third-parties for the purposes of providing individualized offers, services, and other customized information to Members.
		%br/
		12.4 Zoom shall implement and maintain reasonable procedures for protecting sensitive personal information in compliance with applicable law.
		%br/
		12.5 Zoom shall be entitled to disclose information of the Member to Zoom’s parent company and to all companies controlled by Zoom or any of its affiliates and to any government body as required by the law/ or by directive/ or request from any government body or to any third party deemed fit and proper by Zoom, in its absolute discretion.
	%p
		13. In case of dispute
		%br/
		13.1 The courts of Bangalore, Karnataka, India shall alone have the sole and exclusive jurisdiction in respect of any matters which may be instituted before any court of law, arising in respect of any disputes between Zoom and the Member arising from the use of the services offered by Zoom.
		%br/
		13.2 Member agrees to pay Zoom’s reasonable attorneys' fees and costs in any legal proceeding relating to this Agreement, including appeals.
		%br/
		13.3 Member must not aid or encourage the filing of any third-party claim or lawsuit against Zoom, and Member must cooperate fully with Zoom and Zoom’s insurer in the investigation and defense of any claim or lawsuit. In any proceeding involving the Member and Zoom as co-defendants should Zoom determine in its sole discretion that the Member’s independent attorney has not aligned his defense similar to that of Zoom, Zoom shall be entitled to call upon the Member to change his attorney to one advised by Zoom and the Member shall accordingly change his attorney at his own cost.
		%br/
		13.4 Member must immediately notify and deliver to Zoom every summons, complaint, document, or notice of any kind received by Member in any way relating to an accident, theft, or other circumstances related to the Zoom vehicle.
	%p
		14. Severability and Integrated Agreement
		If any term, provision, covenant or condition of this Agreement is held invalid or unenforceable for any reason, the remainder of the provisions will continue in full force and effect as if this Agreement had been executed with the invalid portion eliminated. The Parties further agree to substitute for the invalid provision a valid provision that most closely approximates the intent and economic effect of the invalid provision. This Agreement, together with the User Guide, Trip Process, member application, Fee Policy / Rate Schedule, and any applicable consent forms, along with any amendments hereto, encompasses the entire agreement between Member and Zoom, and supersedes all previous understandings and agreements between Member and Zoom. Member acknowledges and represents that he or she has not relied on any representation, assertion, guarantee, warranty, collateral contract or other assurance, except those set out in this Agreement, made by or on behalf of any other party or any other person or entity whatsoever, prior to the execution of this Agreement.
	%p
		15. No Waiver
		No term contained in this Agreement may be changed or waived, except in writing signed by an expressly authorized representative of Zoom.  No waiver of default by either party under any of the Terms or Conditions of this Agreement shall be construed as a waiver of any prior or subsequent default of any of the Terms or Conditions of this Agreement.
	%p
		16. Assignment or Transfer
		The rights granted to the Member under this Agreement are not assignable or transferable, in whole or part. Any attempt to transfer this Agreement without the written consent of Zoom shall be void and of no force and effect. Zoom may assign this Agreement to an affiliate or to another entity in connection with a corporate transaction.
	%p
		17. No Agency
		Member will never be deemed to be Zoom’s agent, servant, or employee in any manner for any purpose whatsoever.
