.static
	%h1.zoom Zoom for Less
	#Weekday.tariff-special
		.p-20
			%h2.size-30
				%b ZOOM ON THE CHEAP DURING THE WEEK!
			%p.size-16.black.f-b
				Book a vehicle for Monday, Tuesday, Wednesday or Thursday
				%br/
				and receive #{CommonHelper::WEEKDAY_DISCOUNT}% off the normal tariff!
			%p
				%b.black HOW TO AVAIL:
				%br/
				Discounts automatically applied at time of check-out.
			%div
				%b.black PLEASE NOTE:
				%br/
				A reservation beginning on Sunday will not have the first 24-hour period qualify for discount.
	%br/
	#Business.tariff-special
		.p-20
			%h2.size-30
				%b BUSINESS PACKAGE!
			%p.size-16.black.f-b
				NEED A CAR FOR THE WORK WEEK?
				%br/
				Get a FIGO @ ₹4,999 : Sunday 9pm to Friday 2pm
				%br/
				250 free Km for the week
			%p
				Feel free to book a car for longer. Any days/hours prior to Sunday at 6pm or after Friday 2pm will be billed at the regular rate.
				%br/
				Kms in excess of 250 will be charged at the regular rate (₹12/km)
			%div
				%b.black HOW TO AVAIL:
				%br/
				Enter 
				%b.black BUSINESS
				as promo code at the time of checkout. Discount will be manually refunded to your card.
	%br/
	#Mystery.tariff-special
		.p-20
			%h2.size-30
				%b "MYSTERY BOX DISCOUNTS" ON MONDAYS!
			%p.size-16.black.f-b
				BIG discount for a different group each Monday!
			%p
				Each Sunday, we will announce big discount for a lucky group.
				%br/
				The booking must be made online on Monday, but the reservation can be for any time Mon-Thur in the future.
				%br/
				To find out what the discount is each week, follow us on 
				%a{href: "https://www.facebook.com/zoomcar.in"} Facebook
				and
				%a{href: "https://twitter.com/ZoomCarIndia"} Twitter
			%p
				%b.black HOW TO AVAIL:
				%br/
				Enter 
				%b.black MYSTERY
				as promo code at the time of checkout. Discount will be manually refunded to your card.
			%div
				%b.black PLEASE NOTE:
				%br/
				%b.black
					Discount will not be applicable on any of 
					%a{href: '/holidays'} these days
				%br/
				Any usage during Friday, Saturday & Sunday will be billed at the regular rate.
	%br/
	#Hebbal.tariff-special
		.p-20
			%h2.size-30
				%b ATTENTION WOODSMAN ESTATE RESIDENTS!
			%p.size-16.black.f-b
				Book any Zoom vehicle and automatically avail either a 
				%br/
				10% flat discount or receive 300 kms in free driving!
				%br/
				Whichever benefits you more is what Zoom will give!
			%p
				%b.black HOW TO AVAIL:
				%br/
				Enter 
				%b.black WOODSMAN
				as promo code at the time of checkout. Discount will be manually refunded to your card.
			%div
				%b.black PLEASE NOTE:
				%br/
				You are eligible for only one of the special discounts above (whichever is more advantageous given your booking).
				%br/
				This promotion is available 24x7 and applies to any vehicle sited at the Woodsman Estate.
				%br/
				%i 10% discount will be applicable only against the standard Zoom tariff and wouldn't cover extra charges like excess km, late fee, etc.
				%br/
				%b.black
					Discount will not be applicable on any of 
					%a{href: '/holidays'} these days
	%br/
	- Offer.find_each(:conditions => "status = '1' and visibility = '1'") do |offer|
		%div{id: "#{offer.promo_code}", class: "tariff-special"}
			.p-20
				%h2.size-30
					%b= offer.heading
				%p.size-16.black.f-b
					= offer.description.html_safe
		%br/