.static
	%h1.zoom Zoom for Less
	.tariff-special.bg-e
		.p-20
			%h2.size-30
				%b ANNIVERSARY SPECIAL!
			%p.size-18.black.f-b
				Zoom is officially turning One!!
				%br/
				Enjoy all vehicles at Rs.100 / hour and Rs.1000 / day. 
			%p Discounts will be refunded back to your account after the vehicle is returned.
			%div
				%b.black PLEASE NOTE:
				%br/
				This pricing will be valid for ALL ZOOM VEHICLES. 
				%br/
				Standard excess Km rate will remain in accordance with normal Zoom tariff policy.
				%br/
				%i
					Discount will be applicable for any booking that has reservation days
					%br/
					falling between Feb 17 (12:00am) to Feb 21 (11:59pm).
	%br/
	- if Time.now.month < 3 && Time.now.day < 15
		.tariff-special
			.p-20
				%h2.size-30
					%b VALENTINES DAY OFFER FOR WOMEN!
				%p.size-18.black.f-b
					Women, book a vehicle for Valentines Day (14th Feb)
					%br/
					and receive 85% off the normal tariff!
				%p Discounts will be refunded back to your account.
				%div
					%b.black PLEASE NOTE:
					%br/
					Multi-day reservation will only get the 85% off for 14th Feb, rest of the days will remain same.
					%br/
					%i Discount will be applicable only when a woman picks up and drops off the vehicle.
		%br/
	#Weekday.tariff-special
		.p-20
			%h2.size-30
				%b ZOOM ON THE CHEAP DURING THE WEEK!
			%p.size-18.black.f-b
				Book a vehicle for Monday, Tuesday, Wednesday or Thursday
				%br/
				and receive #{CommonHelper::WEEKDAY_DISCOUNT}% off the normal tariff!
			%p Discounts automatically applied at time of check-out.
			%div
				%b.black PLEASE NOTE:
				%br/
				A reservation beginning on Sunday will not have
				%br/
				the first 24-hour period qualify for discount.
	%br/
	#Women.tariff-special
		.p-20
			%h2.size-30
				%b HAPPY HOURS FOR WOMEN ON TUESDAYS!
			%p.size-18.black.f-b
				Women, book a vehicle for Tuesday
				%br/
				and receive 85% off the normal tariff!
			%p Discounts will be refunded back to your account.
			%div
				%b.black PLEASE NOTE:
				%br/
				Multi-day reservation will only get the 85% off for Tuesday, rest of the days will remain same.
				%br/
				%i Discount will be applicable only when a woman picks up and drops off the vehicle.
				%br/
				%b.black
					Discount will not be applicable on any of 
					%a{href: '/holidays'} these days
	%br/
	#Hebbal.tariff-special
		.p-20
			%h2.size-30
				%b ATTENTION WOODSMAN ESTATE RESIDENTS!
			%p.size-18.black.f-b
				Book any Zoom vehicle and automatically avail either a 
				%br/
				10% flat discount or receive 300 kms in free driving!
				%br/
				Whichever benefits you more is what Zoom will give!
			%p Discounts will be refunded back to your account.
			%div
				%b.black PLEASE NOTE:
				%br/
				You are eligible for only one of the special discounts above (whichever is more advantageous given your booking).
				%br/
				This promotion is available 24x7 and applies to any vehicle sited at the Woodsman Estate.
				%br/
				%i 10% discount will be applicable only against the standard Zoom tariff and wouldn't cover extra charges like excess km, late fee, etc.
				%br/
				%b.black
					Discount will not be applicable on any of 
					%a{href: '/holidays'} these days
