.static
	%h1 Going Outstation?
	%p
		Zoomcar vehicles are equipped with an All India Permit so that the entire Sub-Continent is at your fingertips!  You are free to travel outside the state you picked up the car. In fact, we highly encourage you to get out there and explore this beautiful country!
	%p.zoom
		Zoomcar has a commercial vehicle designation (that's why we have black with yellow plates).
		%b It is NOT required that you have a special driver's license or badge in order to operate our vehicles anywhere in India!
	%p
		When traveling out of state in a commercially registered self-drive vehicle, it is important to always remember to stop at the first RTO checkpost when you enter into a new State.  The signs are always well marked and you will find that all cabs and self-drive rental vehicles are stopping there too.
	%br/
	%h2 At the RTO checkpost:
	%p
		1. Securely park your Zoomcar vehicle
	%p
		2. Ensure that you're carrying your original driver's license.
		.m-l20
			Failure to bring original driver's license may result in a penalty of up to Rs 500 at state RTO checkposts (per Section 181 of Motor Vehicles Act).
	%p
		3. Fetch all of the following documents from the vehicle show to RTO officer:
		.m-l20
			a. Registration Card (RC)
		.m-l20
			b. Insurance documents
		.m-l20
			c. All India permit
		.m-l20
			d. Rent-a-cab license (under name of Ramesh Tours and Travels Pvt. Ltd.)
	%p
		4. Make the cash payment for the visitor permit (see below for more detail)
	%p
		%b PLEASE NOTE :
		%br/
		If the RTO officer is confused in any way or is causing any problems for you, call our 24x7 Call Center or Fleet Executive Team immediately and they will diffuse the situation with the Officer. In no set of circumstances should you have to pay any additional cash fine or penalty. It is
		%b NOT
		required that you have a special driver's license designation or badge in order to operate our vehicles!
	%br/
	%h2 State Visitor Permits
	%p
		In order to cross Indian State lines in a commercial vehicle, it is required that the vehicle has the necessary entry permit.
		Please see below for details as the precise charges differ by State.
	%p
		The charges represented below are approximations for the amount you the Member will owe at the time of State entry.
		%b Please remember that all payments are to be made in cash.
	%p
		Please refer to
		%a.f-b{:href => "/fees"} Zoomcar's Fee Policy
		for details on which costs are reimbursable by Zoomcar.
	%table.m-auto{:cellpadding => '0', :cellspacing => '0', :border => '0'}
		%thead.bg-zoom.white
			%tr
				%th.bg-zoomb{:style => "border-right:1px solid #fff;"}
					.p-10 State
				%th.bg-zoomb{:style => "border-left:1px solid #fff;border-right:1px solid #fff;"}
					.p-10 Permit Validity
				%th.bg-zoomb{:style => "border-left:1px solid #fff;"}
					.p-10 
						Permit Cost
						%span{:style => "font-size:26px;"} ***
		%tbody
			%tr
				%td.border-zoom
					.p-10
						Andhra Pradesh
						%span{:style => "font-size:26px;"} *
				%td.border-zoom
					.p-10 1 year
				%td.border-zoom
					.p-10
						\• 4+1 = ₹1680 + handling charges ~₹200
						%br/
						\• 6+1 = ₹2840 + handling charges ~₹300
			%tr
				%td.border-zoom
					.p-10 Goa
				%td.border-zoom
					.p-10 1 week
				%td.border-zoom
					.p-10
						\• 4+1 = ₹400 + handling charges ~₹100
						%br/
						\• 6+1 = ₹450 + handling charges ~₹150
			%tr
				%td.border-zoom
					.p-10 
						Haryana
						%span{:style => "font-size:26px;"} **
				%td.border-zoom
					.p-10 3 months
				%td.border-zoom
					.p-10
						\• 4+1 = ₹950 + handling charges ~₹100
						%br/
						\• 6+1 = ₹2200 + handling charges ~₹200
			%tr
				%td.border-zoom
					.p-10 Himachal Pradesh
				%td.border-zoom
					.p-10 1 month
				%td.border-zoom
					.p-10
						\• 4+1 = ₹650 + handling charges
						%br/
						\• 6+1 = ₹650 + handling charges
			%tr
				%td.border-zoom
					.p-10 Karnataka
				%td.border-zoom
					.p-10 1 week
				%td.border-zoom
					.p-10
						\• 4+1 = ₹100 + handling charges ~₹150
						%br/
						\• 6+1 = ₹475 + handling charges ~₹550
			%tr
				%td.border-zoom
					.p-10 Kerala
				%td.border-zoom
					.p-10 1 week
				%td.border-zoom
					.p-10
						\• 4+1 = ₹140 + handling charges ~₹100
						%br/
						\• 6+1 = ₹350 + handling charges ~₹150
			%tr
				%td.border-zoom
					.p-10 Madhya Pradesh
				%td.border-zoom
					.p-10 1 week
				%td.border-zoom
					.p-10
						\• 4+1 = ₹150 + handling charges ~₹100
						%br/
						\• 6+1 = ₹350 + handling charges ~₹150
			%tr
				%td.border-zoom
					.p-10 Maharashtra
				%td.border-zoom
					.p-10 1 week
				%td.border-zoom
					.p-10
						\• 4+1 = ₹150 + handling charges ~₹100
						%br/
						\• 6+1 = ₹350 + handling charges ~₹150
			%tr
				%td.border-zoom
					.p-10 Punjab
				%td.border-zoom
					.p-10 1 day
				%td.border-zoom
					.p-10
						\• 4+1 = ₹220 + handling charges
						%br/
						\• 6+1 = ₹400 + handling charges
			%tr
				%td
					%tr
						%td.border-zoom.no-border-top{:rowspan => "2"}
							.p-10 Rajasthan
						%td.border-zoom.no-border-top
							.p-10 1 day
						%td.border-zoom.no-border-top
							.p-10
								\• 4+1 = ₹240 + handling charges
								%br/
								\• 6+1 = ₹540 + handling charges
					%tr
						%td.border-zoom
							.p-10 1 month
						%td.border-zoom
							.p-10
								\• 4+1 = ₹1100 + handling charges
								%br/
								\• 6+1 = ₹1800 + handling charges

			%tr
				%td.border-zoom
					.p-10 Tamil Nadu
				%td.border-zoom
					.p-10 1 week
				%td.border-zoom
					.p-10
						\• 4+1 = ₹150 + handling charges ~₹100
						%br/
						\• 6+1 = ₹350 + handling charges ~₹150
			%tr
				%td
					%tr
						%td.border-zoom.no-border-top{:rowspan => "2"}
							.p-10 Uttar Pradesh
						%td.border-zoom.no-border-top
							.p-10 1 day
						%td.border-zoom.no-border-top
							.p-10
								\• 4+1 = ₹120 + handling charges
								%br/
								\• 6+1 = ₹180 + handling charges
					%tr
						%td.border-zoom
							.p-10 1 month
						%td.border-zoom
							.p-10
								\• 4+1 = ₹1400 + handling charges
								%br/
								\• 6+1 = ₹2100 + handling charges

			
			
			
			%tr
				%td{:colspan => '3'}
					.p-10
						%span{:style => "font-size:26px;"} *
						Reimbursable by Zoomcar for Bangalore bookings.
						%br/
						%br/
						%span{:style => "font-size:26px;"} **
						Already paid by Zoomcar for Delhi-NCR bookings.
						%br/
						%br/
						%span{:style => "font-size:26px;"} ***
						%b DISCLAIMER:
						%br/
						Charges represented are approximations only.
						%br/
						All costs subject to change without prior notice, at the discretion of the State.
						%br/
						%br/
