- if current_user && current_user.is_blacklisted?
	.m-t10.alert.alert-danger
		.size-14.black
			Your account has been 
			%b blocked
			from using Zoomcar.
			%br/
			- if !current_user.note.blank?
				%b Reason : 
				#{current_user.note}
				%br/
			Contact 
			%b #{@city.contact_email}
			for more information.
