- @corporates = Corporate.live_hash
- if session[:corporate_id].blank?
	.bg-e.p-10.border-c.solid.r-5
		.p-b5
			%b Corporate Booking (Optional)
		.p-b5
			%form{:id => "CorporateForm", :onsubmit => "return SubmitForm(this,'/bookings/corporate','CorporateDiv');", :action => "javascript:void(0)", "data-ajax" => "false"}
				.row
					.col-md-7
						%select#CorporateId.form-control{name: 'corporate_id'}
							%option{value: ''} Select
							- @corporates.each do |key,value|
								%option{value: "#{key}"} #{value}
					.col-md-5
						#CorporateSubmit
							%button.btn.btn-default{type:"submit"} Submit
			#CorporateWait{style: "display:none;"}
				.wait
- else
	.bg-e.p-10.border-c.solid.r-5
		.p-b5
			%b Corporate Booking (Optional)
		.p-b5
			%form{:id => "CorporateForm", :onsubmit => "return SubmitForm(this,'/bookings/corporate?clear=1','CorporateDiv');", :action => "javascript:void(0)", "data-ajax" => "false"}
				.row
					.col-md-7
						.p-t5
							%b
								%i
									%u
										= @corporates[session[:corporate_id]]
					.col-md-5
						#CorporateSubmit
							%button.btn.btn-default.btn-xs{type:"submit"}
								%span.glyphicon.glyphicon-remove
			#CorporateWait{style: "display:none;"}
				.wait
.p-b15
