.p-b5
	%b Use Credits (Optional)
#CreditDiv
	- if session[:credits].blank?
		:ruby
			total = @fare[:estimate] - @fare[:discount]
			total = current_user.total_credits.to_i if current_user.total_credits.to_i < total
		%form{:id => "CreditForm", :onsubmit => "return SubmitForm(this,'/bookings/credits','OutstandingDiv');", :action => "javascript:void(0)", "data-ajax" => "false"}
			.row
				.col-md-7
					.p-t10
						Available Credits :
						₹#{current_user.total_credits}
						%input#fare.form-control{name: 'fare', type: "hidden", value: ("#{total}") }
				.col-md-5	
					%button.btn.btn-default{type:"submit"} Apply #{total} Credits
			#CreditWait{style: "display:none;"}
				.wait
		#DetailsNameError.error
	- else
		.p-b5
			Your 
			%b ₹#{session[:credits]}
			credits has been used.
