#CreditDiv
	- if session[:credits].blank?
		:ruby
			total = fare[:estimate] - fare[:discount] - (session[:promo_valid] ? session[:promo_discount] : 0)
			total = current_user.total_credits.to_i if current_user.total_credits.to_i < total
		%form{:id => "CreditForm", :onsubmit => "return formCredits(this,'/bookings/promo','PromoCreditsDiv');", :action => "javascript:void(0)", "data-remote" => "true"}
			.col-md-12.promoCode-desc-block.clearfix
				.col-md-7.text-left.clearfix.aval-credit-amount
					%i ₹#{current_user.total_credits} in credits available
					%input#applyCredits.form-control{name: 'apply_credits', type: "hidden", value: "1" }
				.col-md-4.text-left.clearfix.useCredit
					%button.btn.btn-default.use-credits-submit#use_credit{type:"submit"} Use
			#CreditWait{style: "display:none;"}
				.wait
		#DetailsNameError.error
	- else
		.col-md-12.clearfix.rmpad.used_credits_sec
			.col-md-4.text-left.rmpad
				%b Credits 
			.col-md-8.text-right.rmpad
				%b.credit_amount - ₹ 
				%span.credits_usable_amt #{session[:credits]}
			.cancel_creditBtn
				%form#PromoForm{:action => "javascript:void(0)", "data-ajax" => "false", :onsubmit => "return formCredits(this,'/bookings/promo','PromoCreditsDiv');"}
					%input#removeCredits.form-control{name: 'remove_credits', type: "hidden", value: "1" }
					#PromoSubmit_credits
						%button.btn.btn-default.btn-xs.cancelCreditsBtn.cancel_credit{:type => "submit"}
							%span.glyphicon.glyphicon-remove.creditRemovespan
					#PromoWait{:style => "display: none;"}
						.wait
				/ %button.cancel_credits
				/ 	X
		.promoCode_condition_block_whenApplied
			%i.promoCode_condition Promo Codes are not applicable on Blackout Days.
:javascript
	function checkNextJquery() {
		if (window.jQuery) {

			//var avail_credits = {session[:credits]};   
			var avail_credits = #{session[:credits].to_i};
			//var payable_amt = $("#final_amount_to_pay").html();
			//var payable_amt_int = parseInt(payable_amt.replace(/[, ]+/g, "").trim());

			//var credits_final_amt = payable_amt_int;

			$("#use_credit").click(function (){
					var getTotal3 = $("#final_amount_to_pay").html();  //final amount display on page
					
					var grand_total3 = parseInt(getTotal3.replace(/[, ]+/g, "").trim());
					credits_final_amt = grand_total3 - avail_credits;

					document.getElementById("final_amount_to_pay").innerHTML = credits_final_amt;
			});

			$(".cancel_credit").click(function (){
			  var getTotal4 = $("#final_amount_to_pay").html();  //final amount display on page
				var grand_total4 = parseInt(getTotal4.replace(/[, ]+/g, "").trim());
				credits_final_amt = grand_total4 + avail_credits;
				document.getElementById("final_amount_to_pay").innerHTML = credits_final_amt;
			});

			} else {
				window.setTimeout(checkNextJquery, 1000);
			}
		}
			checkNextJquery();