.offers
	.title.droid
		Zoomcar Offers
	#OfferSlider.carousel.slide{'data-ride' => "carousel", 'data-interval' => '10000', 'data-pause' => 'hover'}
		.carousel-inner
			.item.active
				.head
					ZOOM ON THE CHEAP DURING THE WEEK!
				.text
					Book a vehicle for Monday, Tuesday, Wednesday or Thursday and receive #{CommonHelper::WEEKDAY_DISCOUNT}% off the normal tariff!
				.how
					Discounts automatically applied at time of check-out.
				.disclaimer
					%b.black
						PLEASE NOTE:
					%br/
					A reservation beginning on Sunday will not have the first 24-hour period qualify for discount.
			.item
				.head
					HAPPY HOURS FOR WOMEN ON TUESDAYS!
				.text
					Women, book a vehicle for Tuesday and receive 85% off the normal tariff!
				.how
					Discounts will be refunded back to your account.
				.disclaimer
					%b.black
						PLEASE NOTE: 
					%br/
					Multi-day reservation will only get the 85% off for Tuesday, rest of the days will remain same. 
					%br/
					Discount will be applicable only when a woman picks up and drops off the vehicle. 
				.exception
					Discount will not be applicable on 24th and 31st December, 2013.
		%a.left.carousel-control{:href => "#OfferSlider", 'data-slide' => "prev"}
		%a.right.carousel-control{:href => "#OfferSlider", 'data-slide' => "next"}
		%ol.carousel-indicators
			%li.active{'data-target' => "#OfferSlider", 'data-slide-to' => "0"}
				0
			%li{'data-target' => "#OfferSlider", 'data-slide-to' => "1"}
				1
