#PromoDiv
	- if flash[:error].present?
		- render_flash
	- elsif session[:promo_code].blank? && session[:promo_message].blank?
		%form.promocode-form{:id => "PromoForm", :onsubmit => "return applyPromoCode(this,'/bookings/promo','PromoCreditsDiv');", :action => "javascript:void(0)", "data-ajax" => "false"}
			.row
				.col-md-7.text-right.promo-input
					%input#DetailsName.validate-presence.form-control{:placeholder => "Enter Promo Code" ,name: 'promo', type: "text", value: @promo}
				.col-md-3.text-left.promo-submit
					#PromoSubmit_promo
						%button.btn.btn-default.apply_promocode_btn#use_tariff{type:"submit"} Apply

				#PromoWait{style: "display:none;"}
					.wait
				#DetailsNameError.error
	- elsif session[:promo_message].present?
		.p-b5
			.fl
				%b Promo Code
			.fr
				%form{:id => "PromoForm", :onsubmit => "return applyPromoCode(this,'/bookings/promo?clear=1','PromoCreditsDiv');", :action => "javascript:void(0)", "data-ajax" => "false"}
					%input#clearPromo.form-control{name: 'clear', type: "hidden", value: "1" }
					#PromoSubmit.m-r_15
						%button.btn.btn-default.btn-xs.promoCodeCancelBtn{type:"submit"}
							%span.glyphicon.glyphicon-remove.creditRemovespan
					#PromoWait{style: "display:none;"}
						.wait
			.fc
		.p-b5.size-12
			%i #{session[:promo_message]}
	- else			
		.fc
		.col-md-12.promoCode-desc-block.clearfix.rmpad
			.col-md-4.text-right.clearfix.rmpad{:style=>"text-align:left;text-transform: uppercase;"}
				%b #{session[:promo_code]}
			.col-md-7.text-right.clearfix.rmpad
				%b.promo_amount - ₹
				%b.promo_amount#promoAmount.size-16 #{session[:promo_discount]}
				.col-md-1
					%form#PromoForm{:action => "javascript:void(0)", "data-ajax" => "false", :onsubmit => "return applyPromoCode(this,'/bookings/promo?clear=1','PromoDiv');"}
						%input#clearPromo.form-control{name: 'clear', type: "hidden", value: "1" }
						#PromoSubmit
							%button.btn.btn-default.btn-xs.promoCodeCancelBtn{:type => "submit"}
								%span.glyphicon.glyphicon-remove.promoRemovespan
						#PromoWait{:style => "display: none;"}
							.wait