- render_flash
- if session[:promo_code].blank?
	#PromoDiv
		.p-b5
			%b Promo Code (Optional)
		.p-b5
			%form.form-inline{:id => "PromoForm", :onsubmit => "return SubmitForm(this,'/bookings/promo','PromoDiv');", :action => "javascript:void(0)", "data-ajax" => "false"}
				.form-group
					%input#DetailsName.validate-presence.form-control{name: 'promo', type: "text", value: @promo}
				.form-group
					#PromoSubmit
						%button.btn.btn-default{type:"submit"} Apply
			#PromoWait{style: "display:none;"}
				.wait
		#DetailsNameError.error
- else
	.p-b5
		%b Promo Code (Optional)
	.p-b5
		Promo code 
		%b #{session[:promo_code]}
		has been applied.
	.p-b5
		%i Discount will be manually evaluated and refunded back to your card.
