#PromoCreditsDiv
%tr.bg-e
	%td.p-10.p-l20.size-12
		.fl.text-up
			Tariff
		- if h < 4
			.fl.p-l5.help.pointer{'data-placement' => "bottom", 'data-toggle' => "tooltip", 'data-html' => 'true', 'data-title' => "Minimum billing is 4 hours."}
				[?]
		.fl.p-l20
			%a.pointer#applyPromoCode.applyCodeText
				Apply Promo Code or Use Credits
		.fl.p-l20#promo_without_credits
			%a.pointer#applyPromoCode_withoutCredits.applyCodeText
				Apply Promo Code
		.fc
	%td.p-10.t-r.p-r20.zoom-b.f-b.size-16
		₹ #{show_currency fare[:total]}

%tr#promoCode{style: 'display: none'}
	%td.p-5.p-l20.p-r20.size-12{'colspan' => '2'}
		= render :partial => "promo"

- if user && user.total_credits.to_i > 0
	%tr#credits_block{style: 'display: none'}
		%td.p-5.p-l20.p-r20.size-12{'colspan' => '2'}
			.bg-e.p-10.border-c.solid.r-5.available_credits_data
				= render :partial => "credits", :locals => {:fare => fare}