#PromoDiv
	- @offer ||= Offer.get(session[:promo_code],@city) if !session[:promo_code].blank?
	- if @offer && !@offer[:error].blank?
		.alert.alert-danger
			= @offer[:error].html_safe
	- if session[:promo_code].blank?
		%form{:id => "PromoForm", :onsubmit => "return SubmitForm(this,'/bookings/promo','PromoDiv','json');", :action => "javascript:void(0)", "data-ajax" => "false"}
			.row
				.col-md-9.text-right.promo-input
					%input#DetailsName.validate-presence.form-control{:placeholder => "Enter Promo Code" ,name: 'promo', type: "text", value: @promo}
				.col-md-3.text-left.promo-submit
					#PromoSubmit_promo
						%button.btn.btn-default.apply_promocode_btn{type:"submit"} Apply

				#PromoWait{style: "display:none;"}
					.wait
				#DetailsNameError.error
	- else
		.p-b5
			.fl
				%b Tariff
			.fr
				%form{:id => "PromoForm", :onsubmit => "return SubmitForm(this,'/bookings/promo?clear=1','PromoDiv','jsonp');", :action => "javascript:void(0)", "data-ajax" => "false"}
					#PromoSubmit
						%button.btn.btn-default.btn-xs{type:"submit"}
							%span.glyphicon.glyphicon-remove
					#PromoWait{:style => "display: none;"}
						.wait
			/ .promoCode_condition_block_whenApplied
			/ 	%i.promoCode_condition Promo Codes are not applicable on Blackout Days.
