#PromoDiv
	- @offer ||= Offer.get(session[:promo_code],@city) if !session[:promo_code].blank?
	- if @offer && !@offer[:error].blank?
		.alert.alert-danger
			= @offer[:error].html_safe
	- if session[:promo_code].blank?
		%form.promocode-form{:id => "PromoForm", :onsubmit => "return SubmitForm(this,'/bookings/promo','PromoDiv');", :action => "javascript:void(0)", "data-ajax" => "false"}
			.row
				.col-md-9.text-right.promo-input
					%input#DetailsName.validate-presence.form-control{:placeholder => "Enter Promo Code" ,name: 'promo', type: "text", value: @promo}
				.col-md-3.text-left.promo-submit
					#PromoSubmit
						%button.btn.btn-default.apply_promocode_btn{type:"submit"} Apply

				#PromoWait{style: "display:none;"}
					.wait
				#DetailsNameError.error
	- else
		.p-b5
			.fl
				%b Promo Code
			.fr
				%form{:id => "PromoForm", :onsubmit => "return SubmitForm(this,'/bookings/promo?clear=1','PromoDiv');", :action => "javascript:void(0)", "data-ajax" => "false"}
					#PromoSubmit
						%button.btn.btn-default.btn-xs{type:"submit"}
							%span.glyphicon.glyphicon-remove
					#PromoWait{style: "display:none;"}
						.wait
			.fc
		.col-md-12.promoCode-desc-block.clearfix
			.col-md-4.text-right.clearfix
				%b #{session[:promo_code]}
			.col-md-8.text-left.clearfix
				20% off on Weekdays (Mon-Thu) when booked from Zoomcar website!
				%br
				%br
				%i Discount will be manually evaluated and refunded back to your card.
			.promoCode_condition_block_whenApplied
				%i.promoCode_condition Promo Codes are not applicable on Blackout Days.
