.p-10.bg-e{}
	%table{width:'100%'}
		%tr
			%td.p-5.bg-e{style:"border: 1px solid #6ABD19;"}
				Promo code has been applied. Discount will be returned at the end of the booking in the form of credits