.search-steps-bg
	.search-steps.droid.f-b
		%table.m-auto
			%tr
				%td
					- cls = (step > 1 ? 'complete' : 'active')
					- onclick = (step > 1 ? "window.location = '/search';" : "")
					%div{class: cls, onclick: "#{onclick}"}
						.step
							%p 1
						.txt
							Select Car
				%td
					- cls = (step == 2 ? 'active' : (step > 2 ? 'complete' : 'normal'))
					- onclick = (step > 2 ? "window.location = '/bookings/login';" : "")
					%div{class: cls, onclick: "#{onclick}"}
						.step 
							%p 2
						.txt
							Register or Signin
				%td
					- cls = (step == 3 ? 'active' : (step > 3 ? 'complete' : 'normal'))
					- onclick = (step > 3 ? "window.location = '/bookings/license';" : "")
					%div{class: cls, onclick: "#{onclick}"}
						.step 
							%p 3
						.txt
							License Details
				%td
					- cls = (step == 4 ? 'active' : 'normal')
					%div{class: cls}
						.step
							%p 4
						.txt
							Checkout
