:ruby
	if !@booking
		@booking = Booking.new
		if request.post? && !session[:search].blank?
			@booking.starts = Time.zone.parse(session[:search][:starts]) if !session[:search][:starts].blank?
			@booking.ends = Time.zone.parse(session[:search][:ends]) if !session[:search][:starts].blank?
			@booking.location_id =  session[:search][:loc]
			@booking.cargroup_id =  session[:search][:car]
		end
	end
.vertical-widget
	%form{:id => "SearchForm", :onsubmit => "return SubmitForm(this,'/search/homepage_ab','SearchFormDiv');", :action => "javascript:void(0)", "data-ajax" => "false"}
		#StartDate.box.datetimebox
			.cal
			.txt
				- if @booking.starts.blank?
					%input#StartDateVal.datetime.validate-presence.starts-home{name: 'starts', type: "text", value: "Pickup Date & Time*", readonly: 'true', 'dummy-title' => "Pickup Date & Time*"}
				- else
					%input#StartDateVal.datetime.validate-presence.starts-home{name: 'starts', type: "text", value: @booking.starts.strftime("%d/%m/%Y %H:%M"), readonly: 'true', 'dummy-title' => "Pickup Date & Time*"}
			.arrw
			.fc
		#StartDateValError.error
			= errortxt(@booking.errors[:starts].uniq.join(', '))
		#EndDate.box.datetimebox
			.cal
			.txt
				- if @booking.ends.blank?
					%input#EndDateVal.datetime.validate-presence.ends-home{name: 'ends', type: "text", value: "Dropoff Date & Time*", readonly: 'true', 'dummy-title' => "Dropoff Date & Time*"}
				- else
					%input#EndDateVal.datetime.validate-presence.ends-home{name: 'ends', type: "text", value: @booking.ends.strftime("%d/%m/%Y %H:%M"), readonly: 'true', 'dummy-title' => "Dropoff Date & Time*"}
			.arrw
			.fc
		#EndDateValError.error
			= errortxt(@booking.errors[:ends].uniq.join(', '))
		.hide
			%input#LocationVal{name: 'loc', type: "text", value: @booking.location_id, readonly: 'true'}
			%input#CarsVal{name: 'car', type: "text", value: @booking.cargroup_id, readonly: 'true'}
		#SearchSubmit
			= submit_tag "Search Car", :class => 'button size-12 m-auto'
		#SearchWait.p-t15.p-b5{:style => 'display:none;'}
			.wait
- if request.post?
	- if @booking && @booking.valid?
		:javascript
			pushEvent('Homepage Search', 'Submit');
			window.location = "http://#{HOSTNAME}/search";
	- else
		:javascript
			pushEvent('Homepage Search', 'Submit');
			initializeDatePicker();
