.content
	= render :partial => "/bookings/search_steps", locals: {step: 2}
	.wrapper
		- render_flash
		.narrow-content.fl.bg-w.bs-9
			.p-20
				- if user_signed_in?
					- if current_user.check_details
						:javascript
							window.location = "/" + getCookie('city') + "/bookings/do";
					- else
						.p-20.f-b.t-c.size-16.grey
							Please complete your registration
						= render :template => "/users/signup"
				- else
					= render :template => "/devise/sessions/new"
		.sidebar-b.fr
			= render :partial => "/bookings/sidebarab", locals: {step: 2}
		.fc
		%br/
