%div.droid.size-14.grey.t-c
	%br/
	.p-20.zoom.size-14.f-b
		%img{:src => "http://#{HOSTNAME}/images/logo.jpg", :alt => 'Zoomcar', :border => '0'}/
	%br/
	.bs-zoom.r-10{:style => "background:#eeeeee; padding:50px 0; width:600px; margin:auto; line-height:30px;"}
		= render :partial => '/bookings/pg/create_payment'
:javascript
	_gaq.push(['_trackEvent', "1-click checkout-A", "Redirect Page Load", ""]);

	(function(i,s,o,g,r,a,m){
		i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)
			},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];
			a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	ga('create', 'UA-38347989-1', 'auto');
	ga('send', 'pageview');