%div.droid.size-14.grey.t-c
	%br/
	.p-20.zoom.size-14.f-b
		%img{:src => "http://#{HOSTNAME}/images/logo.jpg", :alt => 'Zoomcar', :border => '0'}/
	%br/
	.bs-zoom.r-10{:style => "background:#eeeeee; padding:50px 0; width:600px; margin:auto; line-height:30px;"}
		= render :partial => '/bookings/pg/payu'
