- if current_user && (@response != "success")
	#referForm
		#referbox.t-c
			We have sent a code to your phone number, Please enter that.
			%br/
			%br/
			%form{:id => "referForm", :onsubmit => "return referForm(this,'#{verify_opt_sms_users_path}','referForm');", :action => "javascript:void(0)", "data-remote" => "true"}
				.form-horizontal
					.row.form-group
					%input#otp_code.validate-presence.form-control{:placeholder => "Enter Promo Code" ,name: 'otp_code', type: "text"}
					#LoginEmailError.error.t-l
					%br/
					%br/
					We never want to spam anyone, this helps verify that the phone number you provided is in fact yours.
					%br/
					%br/
					.row
						.col-sm-3.col-sm-offset-1
						.col-sm-6.t-l
							#LoginSubmit
								%button.btn.btn-default.btn-lg{type:"submit"} Submit
							#LoginWait.p-5.hide
								.wait
		.p-t20
			.f-b.bg-e.p-10.r-5.border-c.solid
				.fl
					%a.btn.btn-primary.btn-sm{:href => "javascript:void(0)", :onclick => "modifyPhone();"}
						Edit Phone Number
				.fr
					%a.btn.btn-primary.btn-sm{:href => "javascript:void(0)", :onclick => "resendOTP();"}
						Resend OTP
				.fc
- else
	Thanks for the verification