- @user ||= User.new
#SignupDiv
	.t-c
		.p-10
			Please enter your email id and we will send the password reset instructions
		- render_flash
		%form{:id => "ForgotForm", :onsubmit => "return SubmitForm(this,'#{password_path(:user)}','ModalContent');", :action => "javascript:void(0)", "data-ajax" => "false"}
			.form-inline
				.form-group
					%input#ForgotEmail.validate-presence.form-control{name: 'user[email]', type: "text", value: @user.email, :onclick => "newUserSessionEvent(window.location.pathname, 'Forgot Password', 'Email');"}
					#ForgotEmailError.error.t-l
						= errortxt(@user.errors[:email].uniq.join(', '))
			#ForgotSubmit.p-5
				= submit_tag "Submit", :class => 'btn btn-default btn-lg', :onclick => "newUserSessionEvent(window.location.pathname, 'Forgot Password', 'Submit');"
			#ForgotWait.p-5.hide
				.wait
		.p-t20
			.f-b.bg-e.p-10.r-5.border-c.solid
				.fl
					%a.btn.btn-primary.btn-sm{:href => "javascript:void(0)", :onclick => "getData('/users/signin', 'SignupDiv', 'replace', null);"}
						Sign In?
				.fr
					%a.btn.btn-primary.btn-sm{:href => "javascript:void(0)", :onclick => "getData('/users/signup', 'SignupDiv', 'replace', null);"}
						Sign Up?
				.fc
