!!!
%html
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
  %body
    %div
      %table{:bgcolor => "#6abd19", :border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}
        %tbody
          %tr
            %td
              %table{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :width => "600"}
                %tbody
                  %tr
                    %td{:width => "100%"}
                      %table{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :width => "600"}
                        %tbody
                          %tr
                            %td{:height => "10", :width => "100%"}
                          %tr
                            %td
                              %table{:align => "right", :border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}
                                %tbody
                                  %tr
                                    %td{:align => "right", :style => "font-family:Helvetica,arial,sans-serif;font-size:11px;color:#ffffff", :valign => "middle"}
                                      %a{:style => "color:#ffffff;text-decoration:none;padding-right:2%;"}
                                        %b View this e-mail in your browser
                          %tr
                            %td{:height => "10", :width => "100%"}
      %table{:bgcolor => "#e8eaed", :border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}
        %tbody
          %tr
            %td
              %table{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :width => "600"}
                %tbody
                  %tr
                    %td{:width => "100%"}
                      %table{:align => "center", :bgcolor => "#e8eaed", :border => "0", :cellpadding => "0", :cellspacing => "0", :width => "600"}
                        %tbody
                          %tr
                            %td{:align => "center"}
                              %a{:href => "http://www.zoomcar.com?ref=CT_WelcomeSU0_Auto", :target => "_blank"}
                                %img{:alt => "Welcome to Zoomcar: Self-drive for the self-driven (www.zoomcar.com)", :border => "0", :height => "300", :src => "https://my.contactology.com/secure/images.skem1.com/client_id_20565/welcomesmall.jpg", :style => "display:block;border:none;outline:none;text-decoration:none", :width => "600"}/
      %table{:bgcolor => "#e8eaed", :border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}
        %tbody
          %tr
            %td
              %table{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :width => "600"}
                %tbody
                  %tr
                    %td{:width => "100%"}
                      %table{:align => "center", :bgcolor => "#ffffff", :border => "0", :cellpadding => "0", :cellspacing => "0", :width => "600"}
                        %tbody
                          %tr
                            %td{:height => "20", :width => "100%"}
                          %tr
                            %td
                              %table{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :width => "560"}
                                %tbody
                                  %tr
                                    %td{:height => "10"}
                                  %tr
                                    %td{:style => "font-family:Helvetica,arial,sans-serif;font-size:13px;color:#333333;text-align:left;line-height:18px"}
                                      Fellow Self-Drive Enthusiast,
                                  %tr
                                    %td{:height => "10", :width => "100%"}
                                  %tr
                                    %td{:style => "font-family:Helvetica,arial,sans-serif;font-size:13px;color:#333333;text-align:left;line-height:18px"}
                                      Welcome to Zoomcar – we are thrilled to have you on-board!
                                  %tr
                                    %td{:height => "10", :width => "100%"}
                                  %tr
                                    %td{:style => "font-family:Helvetica,arial,sans-serif;font-size:13px;color:#333333;text-align:left;line-height:18px"}
                                      You're all set to take the wheel of a self-drive car – whether for a weekend getaway with friends and family or for a quick dinner and movie in the city!
                                  %tr
                                    %td{:height => "10", :width => "100%"}
                                  %tr
                                    %td{:style => "font-family:Helvetica,arial,sans-serif;font-size:13px;color:#333333;text-align:left;line-height:18px"}
                                      Let's get you started on your journey:
                                  %tr
                                    %td{:height => "10", :width => "100%"}
                                  %tr
                                    %td{:style => "font-family:Helvetica,arial,sans-serif;font-size:13px;color:#333333;text-align:left;line-height:18px"}
                                      %ul{:style => "margin-top:8px"}
                                        %li{:style => "margin-bottom:8px"}
                                          %a{:href => "http://www.zoomcar.com?ref=CT_WelcomeSU0_Auto", :style => "color:#6abd19", :target => "_blank"}
                                            %u
                                              %b Book your first Zoomcar
                                          and get behind the wheel of our awesome selection of hatchbacks, sedans, SUVs, and luxury cars. Prices start at
                                          %a{:href => "http://www.zoomcar.com/tariff?ref=CT_WelcomeSU0_Auto", :style => "color:#6abd19", :target => "_blank"}
                                            %u
                                              %b just Rs. 60/hour
                                          and include fuel, insurance and even taxes!
                                        %li{:style => "margin-bottom:8px"}
                                          %b Download Zoomcar mobile app
                                          for
                                          %a{:href => "https://play.google.com/store/apps/details?id=com.zoomcar&referrer=utm_source%3Demail%26utm_medium%3Ddb%26utm_content%3Dsupermiler%26utm_campaign%3Dsupermilerpune17nov2014", :style => "color:#6abd19", :target => "_blank"}
                                            %u
                                              %b Android
                                          and
                                          %a{:href => "https://itunes.apple.com/us/app/zoomcar-self-drive-cars/id889910218?mt=8&utm_source=email&utm_medium=db&utm_content=supermiler&utm_campaign=supermilerpune17nov2014", :style => "color:#6abd19", :target => "_blank"}
                                            %u
                                              %b iPhone
                                          and book self-drive cars on-the-go, anytime, from anywhere.
                                        %li{:style => "margin-bottom:0px"}
                                          %b Follow-us
                                          on
                                          %a{:href => "https://www.facebook.com/zoomcar.in", :style => "color:#6abd19", :target => "_blank"}
                                            %u
                                              %b Facebook
                                          and
                                          %a{:href => "https://twitter.com/ZoomCarIndia", :style => "color:#6abd19", :target => "_blank"}
                                            %u
                                              %b Twitter
                                          for latest updates and get access to exclusive offers!
                                  %tr
                                    %td{:style => "font-family:Helvetica,arial,sans-serif;font-size:13px;color:#333333;text-align:left;line-height:18px"}
                                      Cheers for joining India's largest community of self-drive enthusiasts — we hope to see you behind the wheel of a Zoomcar soon.