
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"><html><head><META http-equiv="Content-Type" content="text/html; charset=utf-8"></head><body>

   
      
      
      
      
   
   <div>

<table width="100%" bgcolor="#6abd19" cellpadding="0" cellspacing="0" border="0">
   <tbody>
      <tr>
         <td>
            <table width="600" cellpadding="0" cellspacing="0" border="0" align="center">
               <tbody>
                  <tr>
                     <td width="100%">
                        <table width="600" cellpadding="0" cellspacing="0" border="0" align="center">
                           <tbody>
                              
                              <tr>
                                 <td width="100%" height="10"></td>
                              </tr>
                              
                              <tr>
                                 <td>
                                    <table width="100%" align="right" border="0" cellpadding="0" cellspacing="0">
                                       <tbody>
                                          <tr>
                                             <td align="right" valign="middle" style="font-family:Helvetica,arial,sans-serif;font-size:11px;color:#ffffff">
                                                <a style="color:#ffffff;text-decoration:none"><b>View this e-mail in your browser</b> </a>
                                             </td>
                                          </tr>
                                       </tbody>
                                    </table>
                                 </td>
                              </tr>
                              
                              <tr>
                                 <td width="100%" height="10"></td>
                              </tr>
                              
                           </tbody>
                        </table>
                     </td>
                  </tr>
               </tbody>
            </table>
         </td>
      </tr>
   </tbody>
</table>


<table width="100%" bgcolor="#e8eaed" cellpadding="0" cellspacing="0" border="0">
   <tbody>
      <tr>
         <td>
            <table width="600" cellpadding="0" cellspacing="0" border="0" align="center">
               <tbody>
                  <tr>
                     <td width="100%">
                        <table bgcolor="#e8eaed" width="600" align="center" cellspacing="0" cellpadding="0" border="0">
                           <tbody>
                              <tr>
                                 
                                 <td align="center">
                                    <a href="http://www.zoomcar.com?ref=EM_SU07_Feb2015V1" target="_blank"><img width="600" border="0" height="300" alt="Welcome to Zoomcar: Self-drive for the self-driven (www.zoomcar.com)" border="0" style="display:block;border:none;outline:none;text-decoration:none" src="https://my.contactology.com/secure/images.skem1.com/client_id_20565/Zoomcar_Roadtrip_540x311.jpg"></a>

                                 </td>
                              </tr>
                           </tbody>
                        </table>
                        
                     </td>
                  </tr>
               </tbody>
            </table>
         </td>
      </tr>
   </tbody>
</table>


<table width="100%" bgcolor="#e8eaed" cellpadding="0" cellspacing="0" border="0" style="border-top:1px #e8eaed solid">
   <tbody>
      <tr>
         <td>
            <table width="600" cellpadding="0" cellspacing="0" border="0" align="center" style="border-left:1px #e8eaed solid;border-right:1px #e8eaed solid">
               <tbody>
                  <tr>
                     <td width="100%" bgcolor="#ffffff">
                        <table bgcolor="#ffffff" width="60%" cellpadding="10" cellspacing="0" border="0" align="left">
                           <tbody>
                              
                              <tr>
                                 <td width="100%" height="10"></td>
                              </tr>
                              
                              <tr>
                                 <td>
                                    <table width="350" align="center" cellpadding="0" cellspacing="0" border="0">
                                       <tbody>
                                          
                                          <tr>
                                             <td style="font-family:Helvetica,arial,sans-serif;font-size:18px;font-weight:bold;color:#333333;text-align:left;line-height:24px">
                                              So <span style="color:#6abd19"><b>#wherewillyougo</b></span> with a Zoomcar?
                                             </td>
                                          </tr>
                                          
                                          
                                          <tr>
                                             <td height="10"></td>
                                          </tr>
                                          
                                            <tr>
                                            <td style="font-family:Helvetica,arial,sans-serif;font-size:13px;color:#333333;text-align:left;line-height:20px">
                                           Eating out, going to the movies or for weekend shopping? Drive yourself in the awesome Ford Ecosport - perfect urban SUV with lots of style.
</td>
                                            </tr>
                                           <tr>
                                             <td width="100%" height="10"></td>
                                          </tr>
                                          

                                           <tr>
                                             <td style="font-family:Helvetica,arial,sans-serif;font-size:13px;color:#333333;text-align:left;line-height:20px">
                                           Feeling the itch for an outstation adventure?
                                           Explore the open road in the rugged XUV500 - beast of an SUV and room for everyone.
   </td>
                                          </tr>
                                          <tr>
                                             <td width="100%" height="10"></td>
                                          </tr>

                                          <tr>
                                             <td style="font-family:Helvetica,arial,sans-serif;font-size:13px;color:#333333;text-align:left;line-height:20px">
                                           Need swanky wheels for a date or for cruising the streets?
                                           Take it up a level and get behind the wheel of the sporty and luxurious Mercedes A-Class
   </td>
                                          </tr>
                                          <tr>
                                             <td width="100%" height="10"></td>
                                          </tr>
                                          <tr>
                                            <td style="font-family:Helvetica,arial,sans-serif;font-size:13px;color:#333333;text-align:left;line-height:20px">
                                          See why it&#39;s fast becoming the preferred way to travel outstation or for getting around the city, and you will be sold on self drive cars too!
   </td>
                                          </tr>
                                          <tr>
                                             <td width="100%" height="10"></td>
                                          </tr>
                                          <tr>
                                            <td style="font-family:Helvetica,arial,sans-serif;font-size:13px;color:#333333;text-align:left;line-height:20px">
                                          Choose from our awesome selection of hatchbacks, sedans, SUVs, and luxury cars — prices start at Rs. 60* per hour and include fuel, insurance, GPS, and even taxes!
                                              </td>
                                          </tr>
                                           
                                          <tr>
                                             <td width="100%" height="10"></td>
                                          </tr>
                                          

                                          
                                          <tr>
                                             <td style="font-family:Helvetica,arial,sans-serif;font-size:16px;font-weight:bold;color:#333333;text-align:left;line-height:30px">
                                               <p style="text-align:center"><a href="http://www.zoomcar.com?ref=EM_SU07_Feb2015V1" style="font-family:Helvetica Neue,Helvetica,Helvetica,Arial,sans-serif;text-decoration:none;color:#fff;background-color:#6abd19;padding:10px 10px;font-weight:bold;margin-right:0px;text-align:center" target="_blank">Zoom Now!</a></p>
                                             </td>
                                          </tr>
                                          
                                          
                                          <tr>
                                             <td width="100%" height="5"></td>
                                          </tr>
                                          



                                          
                                       </tbody>
                                    </table>
                                    <table width="350" align="center" cellpadding="0" cellspacing="0" border="0">
                                       <tbody>
                                       
                                          <tr>
                                             <td width="100%" height="15"></td>
                                          </tr>
                                          
                                          

                                        </tbody>
                                    </table>
                                 </td>
                              </tr>
                           </tbody>
                        </table>

                        
                        <table bgcolor="#ffffff" width="200" cellpadding="10" cellspacing="0" border="0" align="right">
                           <tbody>
                              <tr>
                                 <td>
                                    
                                    <table width="200" align="left" border="0" cellpadding="0" cellspacing="0">
                                       <tbody>
                                         
                                          <tr>
                                             <td width="100%" height="10"></td>
                                          </tr>
                                          

                                       <tr>
                                               <td width="200" align="right">
                                               Follow us at
                                                    <a href="https://www.facebook.com/zoomcar.in" title="Zoomcar on Facebook" target="_blank"><img alt="Zoomcar on Facebook" height="15" src="https://my.contactology.com/secure/images.skem1.com/client_id_20565/FB_15x15.png" width="15" border="0"></a>
                                                    <a href="https://twitter.com/ZoomCarIndia" title="Zoomcar on Twitter" target="_blank"><img alt="App Store" height="15" src="https://my.contactology.com/secure/images.skem1.com/client_id_20565/Twitter_19x15.png" width="19" border="0"></a>
                                               </td>
                                            </tr>

                                       
                                          <tr>
                                             <td width="100%" height="20"></td>
                                          </tr>
                                          
                                          <tr>
                                             <td>
                                                
                                                <table width="200" align="center" bgcolor="#e8eaed" border="0" style="border-color:#6abd19" cellpadding="0" cellspacing="0">
                                                   <tbody>
                                                   
                                                       <tr>
                                                         <td width="200" align="center">
                                                            <img src="https://my.contactology.com/secure/images.skem1.com/client_id_20565/app-mailv2.jpg" alt="" border="0" width="160" height="150" style="display:block;border:none;outline:none;text-decoration:none;margin-top:10px" align="center">
                                                         </td>
                                                      </tr>
                                                      
                                                      <tr>
                                                         <td width="100%" height="10"></td>
                                                      </tr>
                                                      
                                                      
                                                      <tr>
                                                         <td style="font-family:Helvetica,arial,sans-serif;font-size:11px;font-weight:800;color:#444444;text-align:center;line-height:16px;padding:0px 5px">
                                                            Download Zoomcar Mobile App

                                                         </td>
                                                      </tr>
                                                      
                                                      
                                                      <tr>
                                                         <td width="100%" height="10"></td>
                                                      </tr>
                                                      
                                                      
                                                      <tr>
                                                         <td style="font-family:Helvetica,arial,sans-serif;font-size:13px;color:#333333;text-align:center;line-height:24px">
                                                            <a href="https://play.google.com/store/apps/details?id=zoomcar.com&amp;referrer=utm_source%3Demail%26utm_medium%3Ddb%26utm_content%3DSU07%26utm_campaign%3DFeb2015V1" title="ZoomCar App" target="_blank"><img alt="Google Play" height="25" src="https://my.contactology.com/secure/images.skem1.com/client_id_20565/Android_71x25.png" width="71" border="0"></a>
                                                            <a href="https://itunes.apple.com/us/app/zoomcar-self-drive-cars/id889910218?mt=8&amp;utm_source=email&amp;utm_medium=db&amp;utm_content=SU07utm_campaign=Feb2015V1" title="ZoomCar App" target="_blank"><img alt="App Store" height="25" src="https://my.contactology.com/secure/images.skem1.com/client_id_20565/iOS_90x25.jpg" width="90" border="0"></a>
                                                         </td>
                                                      </tr>
                                                      
                                                    
                                                      <tr>
                                                         <td width="100%" height="5"></td>
                                                      </tr>
                                                      

                                                   </tbody>
                                                </table>
                                             </td>
                                          </tr>
                                          
                                          
                                          <tr>
                                             <td width="100%" height="10"></td>
                                          </tr>
                                          
                                       </tbody>
                                    </table>
                                    





                                 </td>
                              </tr>




                           </tbody>
                        </table>

                     </td>
                  </tr>
               </tbody>
            </table>
         </td>
      </tr>
   </tbody>
</table>


<table width="100%" bgcolor="#e8eaed" cellpadding="0" cellspacing="0" border="0">
   <tbody>
      <tr>
         <td>
            <table width="600" cellpadding="0" cellspacing="0" border="0" align="center">
               <tbody>
                  <tr>
                     <td width="100%">
                        <table bgcolor="white" width="600" align="center" cellspacing="0" cellpadding="0" border="0">
                           <tbody>
                             
                              <tr>
                              <td width="100%" height="10"></td>
                              </tr>
                              
                                      <tr>
                                             <td style="font-family:Helvetica,arial,sans-serif;font-size:20px;font-weight:bold;color:#333333;text-align:left;padding-left:0.25cm;line-height:24px">
                                             Why Zoomcar?
                                             </td>
                                          </tr>
                                          
                                          
                                          <tr>
                                             <td width="100%" height="10"></td>
                                          </tr>
                                          
                                          <tr>
                                 
                                 <td align="center">
                                    <a href="http://www.zoomcar.com?ref=EM_SU07_Feb2015V1" target="_blank"><img width="600" border="0" height="171" alt="Zoomcar: Self-drive for the self-driven! (www.zoomcar.com)" border="0" style="display:block;border:none;outline:none;text-decoration:none" src="https://my.contactology.com/secure/images.skem1.com/client_id_20565/EmailFooter.png"></a>
                                 </td>
                              </tr>
                              
                                          <tr>
                                             <td width="100%" height="10"></td>
                                          </tr>
                                          
                              <tr>
                                             <td style="font-family:Helvetica,arial,sans-serif;font-size:11px;color:#333333;padding-left:10px;text-align:left;line-height:18px">
                                            *Fuel, GPS, Insurance and Taxes included! Valid for Mon-Thu only. Weekend and <a href="http://www.zoomcar.com?ref=EM_SU07_Feb2015V1" style="text-decoration:none;color:#333333" target="_blank"><u>peak season</u></a> prices may vary. For Bangalore, Figo prices start at Rs. 70/hour.
                                             </td>
                                          </tr>
                                          
                                          
                                          <tr>
                                             <td width="100%" height="10"></td>
                                          </tr>

                           </tbody>
                        </table>
                        
                     </td>
                  </tr>
               </tbody>
            </table>
         </td>
      </tr>
   </tbody>
</table>

   



<table width="100%" bgcolor="#6abd19" cellpadding="0" cellspacing="0" border="0">
   <tbody>
      <tr>
         <td>
            <table width="600" cellpadding="0" cellspacing="0" border="0" align="center">
               <tbody>
                  <tr>
                     <td width="100%">
                        <table width="600" cellpadding="0" cellspacing="0" border="0" align="center">
                           <tbody>
                              
                              <tr>
                                 <td width="100%" height="0"></td>
                              </tr>
                              
                              <tr>
                                 <td align="center" valign="middle" style="font-family:Helvetica,arial,sans-serif;font-size:13px;color:#ffffff">
                                          <p style="font-family:Helvetica Neue,Helvetica,Helvetica,Arial,sans-serif;padding:10px;line-height:1.2;font-size:11px;text-align:center">
                     <b>Rent a self-drive car on-the-go with Zoomcar mobile app:</b><br><br>
                           <a href="https://play.google.com/store/apps/details?id=zoomcar.com&amp;referrer=utm_source%3Demail%26utm_medium%3Ddb%26utm_content%3DSU07%26utm_campaign%3DFeb2015V1" title="ZoomCar App" target="_blank"><img alt="Google Play" height="38" src="https://my.contactology.com/secure/images.skem1.com/client_id_20565/Playstore.png" width="122" border="0"></a>
                           <a href="https://itunes.apple.com/us/app/zoomcar-self-drive-cars/id889910218?mt=8&amp;utm_source=email&amp;utm_medium=db&amp;utm_content=SU07utm_campaign=Feb2015V1" title="ZoomCar App" target="_blank"><img alt="App Store" height="38" src="https://my.contactology.com/secure/images.skem1.com/client_id_20565/Appstore.jpg" width="136" border="0"></a>

                           </p>
                                 </td>
                              </tr>
                              
                              <tr>
                                 <td width="100%" height="0"></td>
                              </tr>
                              
                           </tbody>
                        </table>
                     </td>
                  </tr>
               </tbody>
            </table>
         </td>
      </tr>
   </tbody>
</table>

   </div>
   </body></html>