- if current_user.wallet_total_amount<=0
	.size-18.t-c
		Your Wallet is empty
- else	
	.size-18.t-c
		You can refund up to: 
		%span.f-b Rs. #{number_with_delimiter(current_user.wallet_total_amount)}

	%br/
	%br/

	=form_tag '/wallets/refund' do
		
		.t-c.size-18
			Enter amount

			%input{name: "amount"}
		
		.t-c
			%input.button.m-t15{style: "width:120px;", type: "submit", value: "Refund"}
	- _15_day_booking = current_user.upcoming_bookings.select{|u| u.starts > Time.now && u.starts<Time.now.advance(days: 15)}
	- if _15_day_booking.any?
		.p-10.p-l20.p-r20.size-11.position-r{colspan: '2'}
			%i You have an upcoming booking for which this amount can be used. Keep in mind that it takes 4-5 days before the amount reaches you. Are you sure you want to refund now?	
