.col-md-6.pull-left
	.sold-out-tag
	.each-car-offer.r-3
		.col-md-4.border-r-c
			= image_tag("cars/11small.jpg", :alt => "")
			.fl.p-t5.p-b10
				.size-20.f-b.zoom-b
					Scorpio LX
				.size-14.m-t5.lgrey
					7 Seater
					.m-t10.btn-book
						%input.button{type: "submit", value: "Book"}
		.col-md-8.border-b-c.p-0
			.col-md-6
				.text-up.size-12.p-b2.p-t5.t-c.light-grey
					Pickup Time
			.col-md-6.border-l-c
				.text-up.size-12.p-b2.p-t5.t-c.light-grey
					Dropoff Time
		.col-md-8.border-b-c.p-0
			.col-md-6.p-l0.p-r0
				.text-up.size-14.p-b10.p-t10.t-c
					.fo-helv.f-b
						= Time.now.strftime("%d %b, %Y")
						%br 10:00 AM
			.col-md-6.border-l-c.p-l0.p-r0
				.text-up.size-14.p-b10.p-t10.t-c
					.fo-helv.f-b
						= Time.now.strftime("%d %b, %Y")
						%br 10:00 PM
		.col-md-8.border-b-c.p-0.p-l35.location_icon
			.size-13.p-b5.p-t5.light-grey
				%span.text-up
					Pickup location
				.zoom-b.f-b.size-12.m-t5
					Marathalli (Sireesh Auto)
					%br
					%a.size-11.help.pointer{:href => "javascript:showModal(name, '/map?lat=12.951530718193473&lng=77.70201437166179&title=Marathalli%20(Sireesh Auto));"}
						(view map)
		.col-md-8.p-0
			.col-md-6
				%h4.t-c.size-22.m-t12.strike-text Rs. 2000
			.col-md-6
				%h4.t-c.fo-helv.f-b.size-26.m-t10.red Rs. 5000
