.payment-wrapper.m-t20
	.logo
	.payment-block.fc
		.payment-order-summary.p-l15.p-r15.m-t20
			.payment-total-amt.fl
				%h4.white.size-15.m-t0.m-b0.p-t15.p-b15.fo-helv 
					%span.f-n 
						Amount: 
					Rs 5000.00
			.payment-tranction-id.fr
				%h4.white.size-15.m-t0.m-b0.p-t15.p-b15.fo-helv
					%span.f-n 
						Transaction ID:
					ljlbwah1c
		.payment-method-banner.p-15
			%b.size-13 Choose a payment method
		.payment-options
			= render :partial => "bookings/pg/payment_options"