%p
	Hi,
	%br
	%br
	%b Welcome to Zoomcar!
%p
	Your account has been created.
	%br
	Visit this link to activate your account:<br />
	= link_to 'Confirm Account', confirmation_url(@resource, :confirmation_token => @token)
%p
	Please activate your account to avail full benefits of Zoomcar services.
%p
	Please ignore this mail if you have not initiated the process.
%br
%br
Thanks
%br
Zoomcar Team
