%p
	Hi,
%p
	Someone has requested a link to change your password. You can do this through the link below.
	%br
	Visit this link to activate your account:<br />
	= link_to 'Change Password', edit_password_url(@resource, :reset_password_token => @token)
%p
	Please ignore this mail if you have not initiated the process.
	%br/
	Your password won't change until you access the link above and create a new one.
%br
%br
Thanks
%br
Zoom Team
