#DocTop
#NavBuffer.nav-buffer
%nav.navbar.navbar-right.navbar-fixed-top{:role => "navigation"}
	.wrapper.t-r
		%a.logo{:href => '/'}
		%a.logo-rtt{:href => 'http://www.rtt.co.in', :target => '_blank', :rel => 'nofollow'}
		.fr
			%ul.nav.navbar-nav
				%li.dropdown
					%a.dropdown-toggle{:href => "javascript:void(0)", 'data-toggle' => "dropdown"}
						Tariffs
						%b.caret
					%ul.dropdown-menu
						%li
							%a{href: "/tariff?ref=header"}
								Tariffs Details
						%li
							%a{href: "/fees?ref=header"}
								Fee Policy
						%li
							%a{href: "javascript:void(0)", onclick: "showModal('Tariff Calculator', '/calculator/tariff');"}
								Tariff Calculator
						%li
							%a{href: "/eligibility?ref=header"}
								Eligibility
						%li
							%a{href: "/member?ref=header"}
								Member Agreement
				%li.dropdown
					%a.dropdown-toggle{href: "javascript:void(0)", 'data-toggle' => "dropdown"}
						How To Zoom
						%b.caret
					%ul.dropdown-menu
						%li
							%a{href: "/howtozoom?ref=header"}
								This is How You Zoom
						%li
							%a{href: "/safety?ref=header"}
								Zoom in Safety
						%li
							%a{href: "/outstation?ref=header"}
								Going Outstation?
						%li
							%a{href: "/reva?ref=header"}
								Zoom's Electric!
						%li
							%a{href: "/privacy?ref=header"}
								Privacy Policy
						%li
							%a{href: "/faq?ref=header"}
								FAQs
				%li#UserBar.dropdown
					%a.dropdown-toggle{href: "javascript:void(0)", 'data-toggle' => "dropdown"}
						Sign Up / Sign In
						%b.caret
					%ul.dropdown-menu
						%li
							%a{href: "javascript:void(0)", onclick: "showModal('Sign Up', '/users/signup');"}
								Sign Up
						%li
							%a{href: "javascript:void(0)", onclick: "showModal('Sign In', '/users/signin');"}
								Sign In
						%li
							%a{href: "javascript:void(0)", onclick: "showModal('Sign In', '/users/forgot');"}
								Forgot Password
		.fc
#Flash.wrapper
