%head
	= render :partial => "/layouts/optimizely"
	%title Zoomcar
	%meta{content: 'Zoomcar', name: "description"}/
	%meta{content: 'zoomcar', name: "keywords"}/
	%meta{content: "noindex", name: "robots"}/
	%meta{content: "© Copyright #{Time.now.year} Zoomcar India Private Ltd. All rights reserved.", name: "copyright"}/
	%meta{content: "Zoomcar India Private Ltd.", name: "author"}/
	%meta{content: "www.onlinemetatag.com", name: "generator"}/
	%meta{content: "English", name: "language"}/
	%meta{charset: "utf-8"}/
	= stylesheet_link_tag "application", :media => "screen"
	%link{href: asset_path('favicon.png'), rel: "shortcut icon", type: "image/png"}/
	%link{href: "https://fonts.googleapis.com/css?family=Droid+Sans", rel: "stylesheet"}/
	- js = javascript_include_tag 'application'
	- js = js.split('src="').last
	- js = js.split('"').first
	:javascript
		function downloadJSAtOnload() {
			var element = document.createElement("script");
			element.src = "#{js}";
			document.body.appendChild(element);
		}
		if (window.addEventListener)
			window.addEventListener("load", downloadJSAtOnload, false);
		else if (window.attachEvent)
			window.attachEvent("onload", downloadJSAtOnload);
		else window.onload = downloadJSAtOnload;
		var _gaq = _gaq || [];
		_gaq.push(['_setAccount', 'UA-38347989-1']);
		_gaq.push(['_setDomainName', 'zoomcar.com']);
		_gaq.push(['_setAllowLinker', true]);
		_gaq.push(['_trackPageview']);
		(function() {
			var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		})();
