#Modal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "ModalLabel", role: "dialog", tabindex: "-1"}
	.modal-dialog
		.modal-content
			.modal-header
				%button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} ×
				%h4#ModalLabel.modal-title
			.modal-body
				#ModalContentWait.wait-box
					.wait
				#ModalContent
