#Wait.wait-box
	.wait-fun
		.zoom.f-b.p-10 DID YOU KNOW?
		.f-i
			%span.lquote &nbsp;&nbsp;&nbsp;
			= CommonHelper::FUNFACTS.sample
			%span.rquote &nbsp;&nbsp;&nbsp;
	.wait
	.wait-text
		Please wait while we fetch your request
