!!!
%html{lang: "en"}
	= render :partial => "/layouts/head_static"
	- cls = (!cookies[:abtestd].blank?) ? 'body-header-new' : ''
	%body{:class => cls}
		= render :partial => (!cookies[:abtestd].blank?) ? "/layouts/header" : "/layouts/header_old"
		.content
			.wrapper
				.p-20.bg-f
					- render_flash
					= yield
		= render :partial => '/layouts/footer'
