%table{:cellpadding => "20", :cellspacing => "0", :width => '100%', :style => "font-family:Arial, Helvetica, sans-serif; background:#E6E6E6; color: #666666; font-size: 16px;"}
	%tr
		%td
			%div{:style => 'color:#6ABD19; font-size:40px; font-weight:bold; padding:10px 0; text-align:center;'}
				%a{href: "http://www.zoomcar.in", style: "text-decoration:none; color:#6ABD19;"}
					%img{:src => "http://#{HOSTNAME}/images/email/logo.jpg", :alt => 'Zoomcar', :border => '0'}/
			%div{:style => "border-radius: 10px; background:#ffffff; padding:20px; width:600px; margin:auto; color:#333333; font-size:12px; box-shadow: 0px 0px 10px #6ABD19;"}
				= yield
				- if HOSTNAME != 'www.zoomcar.in'
					%div{style: "text-align:center; color:red; margin:10px; padding:0; font-weight:bold;"}
						this email is generated on Zoom's test server and doesn't have any relevance whatsoever
					
