!!!
%html{lang: "en"}
	= render :partial => "/layouts/head_static"
	%body
		= render :partial => "/layouts/header"
		.content
			.wrapper
				.p-20.bg-f
					= yield
		= render :partial => '/layouts/footer'
